<template>
  <div>
    <section>
      <h4>{{ $t("payment.details") }}</h4>
      <div>
        <b>{{ $t("posts.link") }}:</b>
        <p>{{ subscription.post }} {{ $t("payment.month") }}</p>
      </div>
      <div>
        <b>{{ $t("pods.link") }}:</b>
        <p>{{ $t("sub.illimited") }}</p>
      </div>
      <div>
        <b>{{ $t("sub.lists") }}</b>
        <p>{{ $t("sub.illimiteds") }}</p>
      </div>
      <div>
        <b>{{ $t("comments.link") }}:</b>
        <p>{{ $t("sub.illimited") }}</p>
      </div>
    </section>
    <section>
      <div>
        <b>{{ $t("sub.sub") }}</b>
        <p>{{ subscription.title }}</p>
      </div>
      <div>
        <b>{{ $t("sub.sub-type") }}</b>
        <p>{{ subscription.type }}</p>
      </div>
      <div>
        <b>{{ $t("sub.month-price") }}</b>
        <p>{{ subscription.price }},00{{ $t("boost.price-content") }}</p>
      </div>
      <div v-if="subscription.type == 'Annuel'">
        <b>{{ $t("sub.year-month") }}</b>
        <p>{{ subscription.price * 12 }},00{{ $t("boost.price-content") }}</p>
      </div>
      <div>
        <b>{{ $t("payment.total") }}</b>
        <p v-if="subscription.type == 'Mensuel'">
          {{ subscription.price }},00{{ $t("boost.price-content") }}
        </p>
        <p v-if="subscription.type == 'Annuel'">
          {{ subscription.price * 12 }},00{{ $t("boost.price-content") }}
        </p>
      </div>
    </section>

    <stripe-checkout
      ref="checkoutRef"
      mode="subscription"
      :pk="publishableKey"
      :line-items="lineItems"
      :success-url="successURL"
      :cancel-url="cancelURL"
      @loading="v => (loading = v)"
    />
    <button type="button" @click="submit">{{ $t("payment.name") }}</button>
  </div>
</template>

<script>
import { StripeCheckout } from "@vue-stripe/vue-stripe";
export default {
  name: "Payment",
  props: ["subscription"],
  components: {
    StripeCheckout
  },
  data() {
    return {
      loading: false,
      publishableKey:
        "pk_test_51IduR0CuVlNuUseFSHUrtE0FqYYfGu8xdaWBhRyVpORyegK1xbVAsTNeXDT8FBWCcCPxYJGhbqhiRXyiaPPvNTec00nMMUI8q3",
      lineItems: [
        {
          price: this.subscription.stripe_id, // The id of the one-time price you created in your Stripe dashboard
          quantity: 1
        }
      ],
      successURL: "",
      cancelURL:
        "http://ec2-34-254-91-44.eu-west-1.compute.amazonaws.com/:8080/boosts"
    };
  },
  methods: {
    submit() {
      // You will be redirected to Stripe's secure checkout page
      this.$refs.checkoutRef.redirectToCheckout();
    }
  },
  mounted() {
    this.successURL =
      "http://ec2-34-254-91-44.eu-west-1.compute.amazonaws.com/:8080/boosts?sub=" +
      this.subscription.id;
  }
};
</script>

<style lang="scss" scoped>
section {
  width: 50%;
  margin: 3vh auto 0 auto;
  padding: 1% 2%;
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

button[type="button"] {
  margin: 4vh 0;
  padding: 5px 20px;
  border-radius: 8px;
  color: $color--primary;
  background-color: transparent;
  &:hover {
    color: #fff;
    background-color: $color--primary;
  }
}
</style>
