<template>
  <div class="userSub">
    <div class="userSub__details">
      <section>
        <h3>{{ $t("sub.details") }}</h3>
        <div>
          <b>{{ $t("sub.sub") }}</b>
          <p>{{ subscription.title }}</p>
        </div>
        <div>
          <b>{{ $t("sub.sub-type") }}</b>
          <p>{{ subscription.type }}</p>
        </div>
        <div>
          <b>{{ $t("posts.link") }}:</b>
          <p>{{ subscription.post }}</p>
        </div>
        <div>
          <b>{{ $t("pods.link") }}:</b>
          <p>{{ $t("sub.illimited") }}</p>
        </div>
        <div>
          <b>{{ $t("sub.lists") }}</b>
          <p>{{ $t("sub.illimiteds") }}</p>
        </div>
        <div>
          <b>{{ $t("comments.link") }}:</b>
          <p>{{ $t("sub.illimited") }}</p>
        </div>
      </section>
      <section>
        <h3>{{ $t("sub.infos") }}</h3>
        <div>
          <b>{{ $t("sub.provider") }}</b>
          <p>The Podding Machine (Socialt IT)</p>
        </div>
        <div>
          <b>{{ $t("sub.ending") }}</b>
          <p>{{ moment(endsub).format("L") }}</p>
        </div>
        <div>
          <b>{{ $t("sub.voidable") }}</b>
          <p>Oui</p>
        </div>
        <div>
          <b>{{ $t("sub.renewal") }}</b>
          <p>Activé</p>
        </div>
        <div>
          <b>{{ $t("sub.month-price") }}</b>
          <p>{{ subscription.price }},00{{ $t("sub.price-content") }}</p>
        </div>
        <div>
          <b>{{ $t("sub.year-price") }}</b>
          <p>{{ subscription.price * 12 }},00{{ $t("sub.price-content") }}</p>
        </div>
      </section>
    </div>
    <button disabled>{{ $t("sub.contact") }}</button>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "UserSub",
  props: ["subscription", "endsub"]
});
</script>

<style lang="scss" scoped>
.userSub {
  &__details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15vh 0 0 0;

    section {
      width: 43%;
      padding: 1% 2%;
      border-radius: 5px;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

      div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
    }
  }

  button {
    margin: 10vh 0 0 0;
    &:disabled {
      opacity: 0.3;
      &:hover {
        color: #fff;
        background-color: $color--primary;
        cursor: auto;
      }
    }
  }
}
</style>
