// DIV / SECTIONS / ETC...
.main {
    display: flex;
    flex-direction: column;
    width: 85vw;
    min-height: 95vh;
    height: auto;
    margin: 0 0 0 16vw;
    padding: 2vh 12vw 0 8vw;
    box-sizing: border-box;
}

.main-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    margin: 50px auto 0 auto;
    width: 86%;
    height: 69vh;
    padding: 3% 7%;
    border-radius: 15px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

h1 {
    font-size: $text-xx-large;
    text-align: left;
}

.main-content {
    display: flex;
    flex-direction: column;
    margin: 50px auto 0 auto;
    width: 100%;
}

.pod-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60vh;

    &__main {
        width: 96%;
        height: 10vh;
        padding: 0 2%;
        margin: 1% 0;
        text-align: left;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
        transition: 0.4s;
        &:hover {
            cursor: pointer;
            transform: scale(1.02);
        }
    }
}

.main-card {
    & {
        width: 100%;
        margin: 0 0 5vh 0;
        text-align: left;
        border-radius: 15px;
        background-color: #fff;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        transition: 0.4s;
    }
    &:hover {
        transform: scale(1.02);
    }

    a {
        text-decoration: none;
        &:hover {
            cursor: pointer;
        }
    }
}





// CALL TO ACTIONS:
.button,
button {
    & {
        padding: 15px 30px;
        background: $color--primary;
        border-radius: 1.2vw;
        color: #fff;
        font-size: $text-small;
        text-decoration: none;
        outline: none;
        font-family: "Roboto", sans-serif;
        border: 2px solid $color--primary;
        transition: 0.4s;
    }
    &:hover {
        cursor: pointer;
        background-color: transparent;
        color: $color--primary;
    }
}

.secondary-button {
    & {
        color: $color--secondary;
        background: transparent;
        border: 2px solid $color--secondary;
    }
    &:hover {
        color: #fff;
        background-color: $color--secondary;
    }
}

.link-button {
    padding: 1vw 2vw;
    background: $color--primary;
    border-radius: 1.4vw;
    color: #fff;
    cursor: pointer;
    outline: none;
    font-size: $text-x-small;
    border: 2px solid $color--primary;
    text-decoration: none;
    transition: 0.4s;
    &:hover {
        opacity: 0.7;
    }
}





@media (max-width: 1024px) {
    .main {
        width: 95vw;
        margin: 0 0 0 5vw;
        padding: 2vh 12vw 0 8vw;
    }



    // CALL TO ACTIONS:
    .button,
    button {
        & {
            padding: 10px 20px;
            border-radius: 1.5vw;
            font-size: $text-small;
        }
    }
}





@media (max-width: 420px) {
    .main-div {
        border-radius: 10px;
    }

    .main-card {
        border-radius: 10px;
        margin: 0 0 2vh 0;
    }

    .main-header {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: auto;

        h1 {
            text-align: center;
            font-size: $text-x-large;
        }
    }

    .main-content {
        margin: 30px auto 0 auto;
    }

    .pod-content {    
        &__main {
            width: 92%;
            height: auto;
            padding: 4%;
            margin: 2% 0;
            border-radius: 10px;
        }
    }

    .button,
    button {
        & {
            padding: 10px;
            font-size: $text-xx-small;
        }
    }
}