// COLORS
$color--content: #104827;
$color--primary: #eb1f5f;
$color--secondary: #49a0f0;
$color--linkedin: #3d7d58;



// TEXT - SIZES
$text-xx-small: 16px;
$text-x-small: 17px;
$text-small: 18px;
$text-medium: 19px;
$text-normal: 21px;
$text-large: 22px;
$text-x-large: 25px;
$text-xx-large: 28px;
