<template>
  <div class="about">
    <h1>{{ $t("about.title") }}</h1>
    <div class="empty">
      <h3>{{ $t("main.empty-1") }}</h3>
      <p>
        {{ $t("main.empty-2") }}
      </p>
      <p>
        {{ $t("about.empty-1") }}
        <b>{{ $t("about.empty-2") }}</b
        >.
      </p>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  name: "About"
};
</script>

<style lang="scss" scoped>
.about {
  @extend .main;
}

.empty {
  margin: 30vh 0 0 0;
  b {
    color: $color--primary;
  }
}
</style>
