<template>
  <div class="admin">
    <h1>{{ $t("admin.title") }}</h1>
    <div class="admin-main">
      <div class="subtitle">
        <h3>Statistiques</h3>
      </div>
      <div class="stats">
        <p>Nombres d'inscrits</p>
        <h2>{{ allUsers.length }}</h2>
      </div>
      <div class="stats">
        <p>Nombre de tickets ouverts</p>
        <h2>0</h2>
      </div>
      <div class="stats">
        <p>Total des posts</p>
        <h2>15</h2>
      </div>
    </div>
    <router-link :to="{ name: 'AdminUsers' }">
      <div class="admin-main">
        <div class="subtitle">
          <h3>Utilisateurs</h3>
        </div>
        <div class="users">
          <p>Utilisateurs actifs</p>
          <h2>{{ activeUsers }}</h2>
        </div>
        <div class="users">
          <p>Utilisateurs bannis</p>
          <h2>0</h2>
        </div>
      </div>
    </router-link>
    <router-link :to="{ name: 'AdminPods' }">
      <div class="admin-main">
        <div class="subtitle">
          <h3>Pods</h3>
        </div>
        <div class="pods">
          <p>Nombres de Pods</p>
          <h2>38</h2>
        </div>
        <div class="pods">
          <p>Moyenne d'utilisateurs / pod</p>
          <h2>4</h2>
        </div>
      </div>
    </router-link>
  </div>
</template>

<script lang="ts">
import { mapActions } from "vuex";

export default {
  name: "Admin",
  data() {
    return {
      activeUsers: 0
    };
  },
  computed: {
    allUsers: {
      get: function(): unknown {
        return this.$store.getters.getAllUsers;
      }
    }
  },
  methods: {
    ...mapActions(["fetchAllUsers"])
  },
  async mounted() {
    if (!localStorage.getItem("admin_access")) {
      this.$router.push({ name: "Posts" });
    }
    await this.fetchAllUsers();

    // eslint-disable-next-line @typescript-eslint/no-explicit-any
    const users: any = this.allUsers;

    for (let user = 0; user < users.length; user++) {
      if (users[user].webSocketID != null) {
        this.activeUsers++;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.admin {
  @extend .main;

  a {
    margin: 0;
    padding: 0;
    color: $color--content;
    text-decoration: none;
  }

  &-main {
    @extend .main-div;
    flex-direction: row;
    max-height: 17vh;
    width: 95%;
    padding: 2% 3% 2% 2%;
    transition: 0.4s;
    &:hover {
      transform: scale(1.01);
    }
    &:last-child {
      // margin-bottom: 50px;
    }

    .subtitle {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 5%;
      height: 100%;
      border-right: 1px solid $color--content;

      h3 {
        transform: rotate(-90deg) translate(0, -1vh);
      }
    }

    .stats,
    .users,
    .pods {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 25%;
      height: 100%;
      border-radius: 10px;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    }

    .users,
    .pods {
      width: 40.75%;
    }
  }
}
</style>
