<template>
  <div class="admin-users">
    <h1>{{ $t("admin.users") }}</h1>
    <div
      v-for="user in allUsers"
      :key="user"
      class="admin-users__main"
      @click="(modale = true), (currentUser = user)"
    >
      <p class="names">
        <strong>{{ user.firstName }} {{ user.lastName }}</strong>
      </p>
      <p class="job">{{ user.activitySector.name }}</p>
      <p class="date">
        {{ moment(user.createdAt).format("DD/MM/YYYY à hh:mm a") }}
      </p>
      <div class="buttons">
        <button>{{ $t("main.modif") }}</button>
        <button>{{ $t("admin.ban") }}</button>
      </div>
    </div>

    <div class="admin-users__user" v-if="modale">
      <div>
        <img
          :src="currentUser.profilePicture"
          alt="The Poding Machine by Social IT"
        />
        <span>
          <p>
            <strong
              >{{ currentUser.firstName }} {{ currentUser.lastName }}
            </strong>
            <a v-bind:href="currentUser.profileURL" target="_blank">(in) </a>
          </p>
          <p>{{ currentUser.activitySector.name }}</p>
        </span>
        <span>
          <p>
            <strong>{{ $t("pod.contributions") }}</strong
            >86
          </p>
          <p>
            <strong>{{ $t("pod.publications") }}</strong
            >19
          </p>
          <p>
            <strong>{{ $t("pod.comments") }}</strong> 64
          </p>
        </span>
        <button @click="modale = false">{{ $t("main.return") }}</button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { mapActions } from "vuex";
import moment from "moment";

export default {
  name: "Admin",
  data() {
    return {
      modale: false,
      currentUser: []
    };
  },
  computed: {
    allUsers: {
      get: function(): unknown {
        return this.$store.getters.getAllUsers;
      }
    }
  },
  methods: {
    ...mapActions(["fetchAllUsers"])
  },
  async mounted() {
    moment().locale();
    await this.fetchAllUsers();
  }
};
</script>

<style lang="scss" scoped>
.admin-users {
  @extend .main;

  h1 {
    margin-bottom: 7vh;
  }

  &__main {
    @extend .pod-content__main;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 6vh;

    p {
      &.names {
        width: 25%;
      }
      &.job {
        width: 20%;
        color: #2c7c4d;
      }
      &.date {
        width: 22%;
        color: #2c7c4d;
      }
    }

    button {
      padding: 0.5vw 1vw;
      border-radius: 12px;
      font-size: $text-xx-small;
      &:first-child {
        @extend .secondary-button;
        margin: auto 1vw auto auto;
      }
    }
  }

  &__user {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(210, 210, 210, 0.65);

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 650px;
      height: 350px;
      margin: -10vh 0 0 13vw;
      padding: 2% 0;
      border-radius: 20px;
      background-color: #fff;
      box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);

      img {
        display: block;
        margin: 0;
        width: 15%;
        border-radius: 50%;
      }

      span {
        margin: 0;
      }
      span:nth-child(3) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        margin: 0 0 5% 0;
      }

      p {
        font-size: $text-x-small;
        color: $color--content;
      }

      strong {
        font-size: $text-small;
      }

      a {
        text-decoration: none;
        color: $color--secondary;
      }

      em {
        font-style: normal;
        color: $color--primary;
      }

      section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 80%;
      }

      button {
        font-size: $text-x-small;
        padding: 10px 15px;
        border-radius: 10px;
        &:nth-child(1) {
          @extend .secondary-button;
        }
      }
    }
  }
}
</style>
