<template>
  <div class="admin-pods">
    <h1>{{ $t("admin.pods") }}</h1>
    <div v-for="pod in pods" :key="pod" class="admin-pods__main">
      <p>
        <strong>{{ pod.name }}</strong>
      </p>
      <p class="category">{{ pod.activitySector.name }}</p>
      <p>{{ pod.userAdmin.firstName }}{{ pod.userAdmin.lastName }}</p>
      <div>
        <button>{{ $t("main.modif") }}</button>
        <button @click="modale = true">{{ $t("main.supp") }}</button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  name: "Admin",
  data() {
    return {
      podUser: false,
      modale: false
    };
  }
};
</script>

<style lang="scss" scoped>
.admin-pods {
  @extend .main;

  h1 {
    margin-bottom: 7vh;
  }

  &__main {
    @extend .pod-content__main;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8vh;

    p.category {
      color: #2c7c4d;
    }

    button {
      padding: 0.5vw 1vw;
      border-radius: 12px;
      font-size: $text-xx-small;
      &:first-child {
        @extend .secondary-button;
        margin: auto 1vw auto auto;
      }
    }
  }
}
</style>
