<template>
  <div class="boosts">
    <div class="boosts__top">
      <h1 v-if="!currentUser.subscription">
        {{ timing ? $t("boosts.title-year") : $t("boosts.title-month") }}
      </h1>
      <h1 v-else>{{ $t("boost.usersub") }}</h1>
      <div class="boosts__top__buttons">
        <button
          v-if="
            !timing &&
              (!currentUser.subscription || currentUser.subscription.id == '1')
          "
          @click="timing = true"
        >
          {{ $t("boosts.year") }}
        </button>
        <button
          v-if="
            timing &&
              (!currentUser.subscription || currentUser.subscription.id == '1')
          "
          @click="timing = false"
        >
          {{ $t("boosts.month") }}
        </button>
        <button
          class="delButton"
          v-if="currentUser.subscription && currentUser.subscription.id != '1'"
        >
          <!-- Insérer (@click="modale = !modale") dans le bouton au dessus pour réactiver la résiliation -->
          {{ $t("boost.terminate") }}
        </button>
        <button
          v-if="currentUser.subscription && currentUser.subscription.id != '1'"
          disabled
        >
          {{ $t("boost.change") }}
        </button>
      </div>
    </div>
    <UserSub
      v-if="currentUser.subscription && currentUser.subscription.id != '1'"
      :subscription="currentUser.subscription"
      :endsub="currentUser.endSub"
    />
    <BoostMonth
      v-if="
        !timing &&
          (!currentUser.subscription || currentUser.subscription.id == '1')
      "
      :subscriptions="subscriptions"
    />
    <BoostYear
      v-if="
        timing &&
          (!currentUser.subscription || currentUser.subscription.id == '1')
      "
      :subscriptions="subscriptions"
    />

    <div v-if="modale" class="boosts__modale">
      <div>
        <p>{{ $t("boost.modal") }}</p>
        <section>
          <button @click="modale = !modale">{{ $t("main.cancel") }}</button>
          <button @click="deleteSub()">{{ $t("main.confirm") }}</button>
        </section>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { mapActions } from "vuex";
import BoostMonth from "@/components/BoostMonth.vue";
import BoostYear from "@/components/BoostYear.vue";
import UserSub from "@/components/stripe/UserSub.vue";
import moment from "moment";

export default Vue.extend({
  name: "Boosts",
  components: {
    BoostMonth,
    BoostYear,
    UserSub
  },
  data() {
    return {
      timing: false,
      modale: false
    };
  },
  computed: {
    currentUser: {
      get() {
        return this.$store.getters.getUserInfos;
      }
    },
    subscriptions: {
      get() {
        return this.$store.getters.getSubscriptions;
      }
    }
  },
  methods: {
    ...mapActions([
      "fetchCurrentUser",
      "fetchSubscriptions",
      "addUserSubscription",
      "deleteUserSubscription"
    ]),
    async deleteSub() {
      this.modale = !this.modale;
      const user = this.currentUser.id;
      const sub = "1";
      await this.deleteUserSubscription({ user, sub });
      location.reload();
    }
  },
  async mounted() {
    await this.fetchCurrentUser();
    await this.fetchSubscriptions();

    if (this.$route.query.sub) {
      if (
        !this.currentUser.subscription ||
        this.currentUser.subscription.id == "1"
      ) {
        const sub = Number(this.$route.query.sub);
        console.log("sub: ", sub);
        const user = this.currentUser.id;
        const startsub = moment().format("YYYY-MM-DD hh:mm:ss.000000");
        let futuremonth;

        if (this.subscriptions[Number(sub - 1)].type == "Mensuel") {
          futuremonth = moment(startsub).add(12, "M");
        } else futuremonth = moment(startsub).add(12, "M");
        const endsub = moment(futuremonth).format("YYYY-MM-DD hh:mm:ss.000000");
        await this.addUserSubscription({
          user,
          sub,
          startsub,
          endsub
        });
        this.$router.push({ name: "Boosts" });
        location.reload();
      }
    }
  }
});
</script>

<style lang="scss" scoped>
.boosts {
  @extend .main;

  &__modale {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(210, 210, 210, 0.65);
    z-index: 10;

    div {
      padding: 2%;
      border-radius: 15px;
      background-color: #fff;
      box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
    }

    section {
      margin: 4vh 0 0 0;
    }

    button {
      font-size: $text-x-small;
      padding: 10px 15px;
      border-radius: 20px;
      &:nth-child(2) {
        @extend .secondary-button;
      }
    }
  }
}
.boosts__top {
  @extend .main-header;
}
.boosts__content {
  @extend .main-content;
}
button {
  margin: 0 0 0 1vw;
  &:disabled {
    opacity: 0.3;
    &:hover {
      color: #fff;
      background-color: $color--primary;
      cursor: auto;
    }
  }
}
.delButton {
  @extend .secondary-button;
  margin: 0;
}
</style>
