<template>
  <div class="comments">
    <div class="comments__top">
      <h1>
        {{ $t("comment.modif-list") }}<em>{{ list.title }}</em>
      </h1>
      <div class="comments__top__buttons">
        <router-link :to="{ name: 'Comments' }">
          <button>
            {{ $t("comment.list") }}
          </button>
        </router-link>
      </div>
    </div>

    <div class="comments-list">
      <div class="comments-list__top">
        <input
          class="title"
          type="text"
          :placeholder="$t('comment.placeholder-content-title')"
          v-model="newTitle"
        />
      </div>
      <div>
        <li v-for="(comment, index) in comments" :key="index">
          <input v-model="comments[index]" type="text" />
          <div class="supp" @click.prevent="deleteInput(comment)"></div>
        </li>
      </div>
      <span>
        <strong>{{ comments.length }}</strong>
        {{ $t("comment.count") }}</span
      >
      <div class="comments-list__content">
        <textarea
          :placeholder="$t('comment.placeholder-content')"
          v-model="newInput"
          @keyup.ctrl.enter="addInput"
        ></textarea>
      </div>
      <div class="comments__create">
        <button>
          {{ $t("comment.update-export") }}
        </button>
        <p v-if="comments.length < 2">
          {{ $t("comment.advice") }}
        </p>
        <button
          @click="modifComments()"
          :disabled="!newTitle || comments.length < 2"
        >
          {{ $t("comment.update-list") }}
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { mapActions } from "vuex";

export default {
  name: "Comments",
  data() {
    return {
      list: [],
      comments: [""],
      newTitle: "",
      newInput: ""
    };
  },
  computed: {
    commentsLists: {
      get() {
        return this.$store.getters.getUserLists;
      }
    }
  },
  methods: {
    ...mapActions(["fetchCommentsLists", "modifUserList", "modifListComments"]),
    addInput() {
      let coms: string[] = this.newInput.split(/\n\n\n/);
      coms = coms.filter(e => e !== "");
      coms = coms.filter(e => e !== "\n");
      coms = coms.filter(e => e !== "\n\n");
      coms = coms.filter(e => e !== "\n\n\n");
      for (let com = 0; com < coms.length; com++) {
        this.comments.push(coms[com]);
      }
      this.newInput = "";
    },
    deleteInput(comment: string) {
      this.comments = this.comments.filter(i => i !== comment);
    },
    async modifComments() {
      const id = this.list.id;
      const userId = localStorage.getItem("userId");
      const title = this.newTitle;
      const comments: string[] = [];

      if (title != this.list.title) {
        await this.modifUserList({ id, title, userId });
      }
      for (let index = 0; index < this.comments.length; index++) {
        comments.push(this.comments[index]);
      }
      await this.modifListComments({ id, userId, comments });
      this.$router.push({ name: "Comments" });
    }
  },
  async mounted() {
    const userId = localStorage.getItem("userId");
    await this.fetchCommentsLists(userId);
    this.list = this.commentsLists[Number(this.$route.params.id)];

    this.newTitle = this.list.title;

    this.comments.splice(0);
    for (let index = 0; index < this.list.comments.length; index++) {
      this.comments.push(this.list.comments[index].text);
    }
  }
};
</script>

<style lang="scss" scoped>
.comments {
  @extend .main;

  &-list {
    @extend .main-div;
    height: auto;
    margin-bottom: 5vh;

    &__top {
      display: flex;
      margin: 0 0 2.5vw 0;
      height: 6vh;

      .title {
        border: 1px solid #2c7c4d;
        border-radius: 10px;
        padding: 1% 1.25%;
        font-size: $text-xx-small;
        &::placeholder {
          color: #ddd;
        }
      }
    }

    li {
      display: flex;
      justify-content: space-between;
      border: 1px solid #2c7c4d;
      border-radius: 10px;
      padding: 1%;
      margin-bottom: 1vw;
      text-align: start;

      input {
        color: $color--content;
        font-size: $text-xx-small;
        border: none;
        width: 50vw;
      }

      .supp {
        position: relative;
        width: 1.1vw;
        height: 20px;
        opacity: 0.6;
        transition: 0.4s;
        &:hover {
          opacity: 1;
          cursor: pointer;
          transform: scale(1.05);
        }
        &:before,
        &:after {
          position: absolute;
          content: " ";
          height: 20px;
          width: 3px;
          border-radius: 1em;
          background-color: $color--primary;
        }
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
    }

    span {
      opacity: 0.5;
      text-align: start;
      font-size: $text-xx-small;
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 1px solid #2c7c4d;
      border-radius: 10px;
      height: 20vh;
      padding: 2%;
      margin: 2vw 0;

      textarea {
        height: 100%;
        font-size: $text-x-small;
        resize: none;
        border: none;
        outline: none;
        &::placeholder {
          color: #ccccccb0;
        }
      }
    }
  }

  &__create {
    display: flex;
    justify-content: space-between;

    p {
      color: $color--primary;
    }

    button {
      &:disabled {
        cursor: auto;
        opacity: 0.3;
      }
      &:hover:disabled {
        color: #fff;
        background-color: $color--primary;
      }
    }
  }
}
.comments__top {
  @extend .main-header;
}

.comments__content {
  @extend .main-content;
}
</style>
