<template>
  <div class="comments">
    <div class="comments__top">
      <h1>
        {{ creating ? $t("comments.title-create") : $t("comments.title-list") }}
      </h1>
      <div class="comments__top__buttons">
        <button v-if="!creating" @click="creating = true">
          {{ $t("comment.create") }}
        </button>
        <button v-if="creating" @click="creating = false">
          {{ $t("comment.list") }}
        </button>
      </div>
    </div>
    <CommentsList v-if="!creating" />
    <CommentCreate v-if="creating" />
    <Notification :notif="notif" />
  </div>
</template>

<script lang="ts">
import CommentsList from "@/components/CommentsList.vue";
import CommentCreate from "@/components/CommentCreate.vue";
import Notification from "@/components/partials/Notification.vue";

export default {
  name: "Comments",
  components: {
    CommentsList,
    CommentCreate,
    Notification
  },
  data() {
    return {
      creating: false,
      notif: ""
    };
  },
  mounted() {
    if (localStorage.getItem("waitingForNotif") === "true") {
      this.notif = String(localStorage.getItem("notif"));
      setTimeout(() => localStorage.removeItem("waitingForNotif"), 1000);
      setTimeout(() => localStorage.removeItem("notif"), 1000);
    }
  }
};
</script>

<style lang="scss" scoped>
.comments {
  @extend .main;
}
.comments__top {
  @extend .main-header;
}

.comments__content {
  @extend .main-content;
}
</style>
