<template>
  <div class="contact">
    <h1>{{ $t("contact.title") }}</h1>
    <div class="empty">
      <h3>{{ $t("main.empty-1") }}</h3>
      <p>
        {{ $t("main.empty-2") }}
      </p>
      <p>
        {{ $t("contact.empty-1") }}
        <b>{{ $t("contact.empty-2") }}</b> {{ $t("contact.empty-3") }}
      </p>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  name: "Contact"
};
</script>

<style lang="scss" scoped>
.contact {
  @extend .main;
}

.empty {
  margin: 30vh 0 0 0;
  b {
    color: $color--primary;
  }
}
</style>
