<template>
  <div id="home">
    <NavLinkedIn />
    <LinkedinLogin />
  </div>
</template>

<script lang="ts">
import NavLinkedIn from "../components/partials/NavLinkedIn.vue";
import LinkedinLogin from "@/components/LinkedinLogin.vue";

export default {
  name: "Home",
  components: {
    LinkedinLogin,
    NavLinkedIn
  }
};
</script>

<style lang="scss">
.nav {
  display: none;
}
</style>
