<template>
  <div class="pod">
    <div class="pod__header">
      <h1>{{ currentPod.name }}</h1>
    </div>
    <div class="pod__content">
      <div class="pod__content--description">
        <p>
          <strong>{{ $t("pod.location") }}</strong> {{ currentPod.location }}
        </p>
        <p>
          <strong>{{ $t("pod.date") }}</strong
          >{{ moment(currentPod.createdAt).format("L") }}
        </p>
        <p>
          <strong>{{ $t("pod.desc") }}</strong> {{ currentPod.description }}
        </p>
      </div>

      <div class="pod__content--buttons">
        <button
          @click="podContentSwitch((active = 1))"
          :class="{ active: podActivity == true }"
        >
          {{ $t("pod.activity") }}
        </button>
        <button
          @click="podContentSwitch((active = 2))"
          :class="{ active: podMembers == true }"
        >
          {{ $t("pod.members") }}
        </button>
        <button
          @click="podAdmin ? podContentSwitch((active = 3)) : (podLeave = true)"
          :class="{ active: podParams == true }"
        >
          {{ podAdmin ? "Paramètres" : "Quitter le pod" }}
        </button>
      </div>

      <PodActivity v-if="podActivity == true" :pod="currentPod" />
      <PodMembers
        v-if="podMembers == true"
        :podUsers="podUsers"
        :pod="currentPod"
        :podAdmin="podAdmin"
      />
      <PodParams v-if="podParams == true" :pod="currentPod" />
      <Notification :notif="notif" />

      <div v-if="podLeave" class="pod__modale">
        <div>
          <p>
            {{ $t("pod.leave-confirm-1") }}
            <b>{{ currentPod.name }}</b> {{ $t("pod.leave-confirm-2") }}
          </p>
          <section>
            <button @click="podLeave = false">{{ $t("main.cancel") }}</button>
            <button @click="leavePod()" class="secondary">
              {{ $t("main.quit") }}
            </button>
          </section>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import PodActivity from "@/components/PodActivity.vue";
import PodMembers from "@/components/PodMembers.vue";
import PodParams from "@/components/PodParams.vue";
import Notification from "@/components/partials/Notification.vue";
import { mapActions } from "vuex";

export default {
  name: "Pod",
  components: {
    PodActivity,
    PodMembers,
    PodParams,
    Notification
  },
  data() {
    return {
      currentPod: [],
      podActivity: true,
      podMembers: false,
      podLeave: false,
      podParams: false,
      podAdmin: false,
      notif: ""
    };
  },
  computed: {
    userPods: {
      get() {
        return this.$store.getters.getUserPods;
      }
    },
    podUsers: {
      get() {
        return this.$store.getters.getPodUsers;
      }
    }
  },
  methods: {
    ...mapActions(["fetchUserPods", "fetchPodUsers", "leaveUserPod"]),
    podContentSwitch(active: number) {
      active == 1
        ? ((this.podActivity = true),
          (this.podMembers = false),
          (this.podParams = false))
        : null;
      active == 2
        ? ((this.podActivity = false),
          (this.podMembers = true),
          (this.podParams = false))
        : null;
      active == 3
        ? ((this.podActivity = false),
          (this.podMembers = false),
          (this.podParams = true))
        : null;
    },
    async leavePod() {
      const id = this.currentPod.id;
      const userUuid = localStorage.getItem("userId");
      await this.leaveUserPod({ id, userUuid });
      this.$router.push({ name: "Pods" });
    }
  },
  async mounted() {
    if (localStorage.getItem("waitingForNotif") === "true") {
      this.notif = String(localStorage.getItem("notif"));
      setTimeout(() => localStorage.removeItem("waitingForNotif"), 1000);
      setTimeout(() => localStorage.removeItem("notif"), 1000);
    }

    const userid = localStorage.getItem("userId");
    await this.fetchUserPods(userid);

    const id = Number(this.$route.params.id);
    this.currentPod = this.userPods
      .filter(function(item: { id: number }) {
        return item.id == id;
      })
      .pop();

    await this.fetchPodUsers(id);

    const userAdminId = this.currentPod.userAdmin.id;
    userid == userAdminId ? (this.podAdmin = true) : (this.podAdmin = false);
  }
};
</script>

<style lang="scss" scoped>
.pod {
  @extend .main;

  &__modale {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 0 0 0 6%;
    background-color: rgba(255, 255, 255, 0.65);
    z-index: 10;

    div {
      padding: 2%;
      border-radius: 15px;
      background-color: #fff;
      box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
    }

    section {
      margin: 4vh 0 0 0;

      button {
        font-size: $text-x-small;
        padding: 10px 15px;
        margin: 0 5%;
        border-radius: 20px;
        &.secondary {
          @extend .button;
          font-size: $text-x-small;
          padding: 10px 15px;
          margin: 0 5%;
          border-radius: 20px;
        }
      }
    }
  }
}

.pod__header {
  @extend .main-header;
}

.pod__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;

  &--description {
    text-align: left;
    width: 100%;

    p {
      text-align: justify;
    }
  }

  &--buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 5% 0 2% 0;
  }
}

button {
  @extend .secondary-button;

  &.active {
    cursor: auto;
    background-color: $color--secondary;
    color: #fff;
  }
}

@media (max-width: 1024px) {
  .pod__leave {
    div {
      width: 45vw;
      height: 20vw;
    }
  }

  .pod__content {
    &--buttons {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  button {
    padding: 8px;
  }
}

@media (max-width: 420px) {
  .pod__leave {
    div {
      width: 45vw;
      height: 20vw;
    }
  }

  .pod__content {
    &--buttons {
      width: 100%;
      flex-direction: column;
    }
  }

  button {
    width: 100%;
    margin: 0 0 1vh 0;
  }
}
</style>
