<template>
  <div class="pods">
    <div class="pods__header">
      <h1 v-if="!creating && !joining">{{ $t("pods.title-list") }}</h1>
      <h1 v-if="creating">{{ $t("pods.title-create") }}</h1>
      <h1 v-if="joining">{{ $t("pods.title-join") }}</h1>
      <div>
        <button
          v-if="creating || joining"
          @click="(creating = false), (joining = false)"
        >
          {{ $t("pods.title-list") }}
        </button>
        <button
          v-if="!creating || joining"
          @click="(creating = true), (joining = false)"
        >
          {{ $t("pods.create") }}
        </button>
        <button
          v-if="creating || !joining"
          @click="(creating = false), (joining = true)"
        >
          {{ $t("pods.title-join") }}
        </button>
      </div>
    </div>
    <PodsList v-if="!creating && !joining" />
    <PodCreation v-if="creating" />
    <PodJoin v-if="joining" />
    <Notification :notif="notif" />
  </div>
</template>

<script lang="ts">
import PodsList from "@/components/PodsList.vue";
import PodCreation from "@/components/PodCreation.vue";
import PodJoin from "@/components/PodJoin.vue";
import Notification from "@/components/partials/Notification.vue";

export default {
  name: "Pods",
  components: {
    PodsList,
    PodCreation,
    PodJoin,
    Notification
  },
  data: function() {
    return {
      creating: false,
      joining: false,
      notif: ""
    };
  },
  mounted() {
    if (localStorage.getItem("waitingForNotif") === "true") {
      this.notif = String(localStorage.getItem("notif"));
      setTimeout(() => localStorage.removeItem("waitingForNotif"), 1000);
      setTimeout(() => localStorage.removeItem("notif"), 1000);
    }
  }
};
</script>

<style lang="scss" scoped>
.pods {
  @extend .main;
}

.pods__header {
  @extend .main-header;

  button:last-child {
    margin: 0 0 0 2vw;
  }
}

.pods__content {
  @extend .main-content;
}
</style>
