<template>
  <div class="post">
    <div class="post__header">
      <h1>{{ $t("post.title") }}</h1>
      <div>
        <button
          v-if="!post.toDelete && !post.isPublish && !modify"
          @click="modify = !modify"
        >
          {{ $t("main.modif") }}
        </button>
        <button v-if="modify" @click="modify = !modify">
          {{ $t("main.return") }}
        </button>
        <router-link class="button" :to="{ name: 'Posts' }">{{
          $t("posts.return")
        }}</router-link>
      </div>
    </div>
    <div class="post__main" v-if="!modify">
      <div class="post__main_header">
        <img
          :src="post.user.profilePicture"
          alt="User profile picture"
          style="border-radius: 50%"
        />
        <div class="user-infos">
          <p>
            {{ post.user.firstName }}
            {{ post.user.lastName }}
          </p>
          <p>
            Le {{ moment(post.TimeToPublish).format("L") }} à
            {{ moment(post.TimeToPublish).format("LTS") }}
          </p>
          <p>
            <i>{{ status }} </i>
            <i v-if="status === 'Publié'"
              >(<a :href="post.postURL" target="_blank">{{ $t("post.see") }}</a
              >)</i
            >
          </p>
        </div>
        <div class="post-supp" @click.prevent="modale = !modale"></div>
      </div>
      <div v-if="post.text" class="post__main_content">
        {{ post.text }}
      </div>
      <div v-else class="post__main_content">
        <i>{{ $t("post.url-post") }}</i>
      </div>
      <div class="post__main_stats">
        <img src="../assets/icons/views.webp" alt="" />
        <p>{{ $t("post.views") }} {{ post.n_views }}</p>
        <img src="../assets/icons/likes.webp" alt="" />
        <p>{{ $t("post.likes") }} {{ post.n_likes }}</p>
        <img src="../assets/icons/comments.webp" alt="" />
        <p>{{ $t("post.comments") }} {{ post.n_comments }}</p>
        <img src="../assets/icons/shares.webp" alt="" />
        <p>{{ $t("post.shares") }} {{ post.n_shares }}</p>
        <p class="percents">{{ $t("post.contribs") }} {{ contributions }}</p>
        <img src="../assets/icons/percents.webp" alt="" />
      </div>
    </div>
    <h2 v-if="!modify">
      {{ $t("post.commitments") }}
      <button
        class="deploy"
        @click="details = !details"
        :class="{ active: details == true }"
      >
        &#8423;
      </button>
    </h2>
    <div v-if="details && !modify" class="post__details">
      <div class="post__details_left">
        <p>{{ $t("post.comments-list") }}</p>
        <div>
          <p v-if="post.n_comments == 0">{{ $t("post.no-comments") }}</p>
        </div>
      </div>
      <div class="post__details_right">
        <p>{{ $t("post.pods-list") }}</p>
        <div class="list">
          <div>
            <p>{{ post.pod.name }}</p>
          </div>
        </div>
        <p>{{ $t("post.lists-list") }}</p>
        <div class="list">
          <div>
            <p v-for="list in post.lists" :key="list">
              {{ list.title }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div v-if="modale" class="post__modale">
      <div>
        <p>
          {{ $t("post.modal") }}
        </p>
        <section>
          <button @click="modale = !modale">{{ $t("main.cancel") }}</button>
          <button @click="delPost()">{{ $t("main.confirm") }}</button>
        </section>
      </div>
    </div>
    <PostModifier v-if="modify" :post="post" />
    <Notification :notif="notif" />
  </div>
</template>

<script lang="ts">
import moment from "moment";
import { mapActions } from "vuex";
import PostModifier from "@/components/PostModifier.vue";
import Notification from "@/components/partials/Notification.vue";

export default {
  name: "Post",
  components: {
    PostModifier,
    Notification
  },
  data: function() {
    return {
      post: [],
      status: "Non publié",
      contributions: 0,
      details: true,
      modale: false,
      modify: false,
      notif: ""
    };
  },
  computed: {
    currentUser: {
      get() {
        return this.$store.getters.getUserInfos;
      }
    },
    userPosts: {
      get() {
        return this.$store.getters.getUserPosts;
      }
    }
  },
  methods: {
    ...mapActions([
      "fetchCurrentUser",
      "fetchUserPosts",
      "delUserPost",
      "creditUserPost"
    ]),
    async delPost() {
      const postId = this.post.id;
      await this.delUserPost({ postId });
      const userUuid = localStorage.getItem("userId");
      await this.fetchCurrentUser();
      const sub = this.currentUser.subscription.id;
      if (!this.post.isPublish) {
        if (sub != 4 && sub != 7) {
          await this.creditUserPost({ userUuid });
        }
      }
      this.$router.push({ name: "Posts" });
    }
  },
  async mounted() {
    if (localStorage.getItem("waitingForNotif") === "true") {
      this.notif = String(localStorage.getItem("notif"));
      console.log(this.notif);
      setTimeout(() => localStorage.removeItem("waitingForNotif"), 1000);
      setTimeout(() => localStorage.removeItem("notif"), 1000);
    }
    const userId = localStorage.getItem("userId");
    await this.fetchUserPosts(userId);

    const IDs = [];
    for (let index = 0; index < this.userPosts.length; index++) {
      IDs.push(String(index + 1));
    }
    if (IDs.includes(String(this.$route.params.id))) {
      this.post = this.userPosts[Number(this.$route.params.id) - 1];
      if (this.post.toDelete) {
        this.status = "En cours de suppression...";
      } else {
        if (this.post.isPublish) {
          this.status = "Publié";
        } else {
          if (moment().isAfter(this.post.TimeToPublish)) {
            this.status = "Non publié";
          } else {
            this.status = "En attente de publication...";
          }
        }
      }
      moment.locale("fr");
    } else {
      this.$router.push({ name: "Posts" });
    }

    // let postUsers = 0;
    // for (let pod = 0; pod < this.post.pod.length; pod++) {
    //   for (let user = 0; user < this.post.pod[pod].users.length; user++) {
    //     postUsers = postUsers + 1;
    //   }
    // }
    this.contributions = Math.round(
      (Number(this.post.n_comments) / (this.post.pod.users.length - 1)) * 100
      // (Number(this.post.n_comments) / (postUsers - 1)) * 100
    );
  }
};
</script>

<style lang="scss" scoped>
.post {
  @extend .main;

  .post__header {
    @extend .main-header;

    button {
      @extend .secondary-button;
      transform: translateX(-2vw);
    }
  }

  .post__main {
    @extend .main-div;
    height: auto;
    width: 94%;
    padding: 2% 3%;

    .post-supp {
      position: relative;
      width: 2vw;
      height: 1.5vw;
      opacity: 0.6;
      transition: 0.4s;
      padding-top: 3px;
      &:hover {
        opacity: 1;
        transform: scale(1.1);
        cursor: pointer;
      }
      &:before,
      &:after {
        position: absolute;
        left: 15px;
        content: " ";
        height: 2vw;
        width: 3px;
        border-radius: 1em;
        background-color: $color--primary;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }

    &_header {
      display: flex;
      justify-content: space-between;

      .user-infos {
        text-align: left;
        line-height: 10px;
        width: 80%;

        a {
          text-decoration: none;
          color: $color--secondary;
        }
      }

      img {
        width: 10%;
        height: 10%;
      }
    }

    &_content {
      margin: 3% 0;
      padding: 1% 1.5%;
      text-align: left;
      line-height: 25px;
      border-radius: 10px;
      border: 1px solid #2c7c4d;
    }

    &_stats {
      display: flex;
      align-items: center;

      p {
        margin: 0 3vw 0 0.25vw;
        font-size: $text-xx-small;
        font-weight: bold;
        &.percents {
          margin: 0 0.15vw 0 0;
        }
      }
      img {
        margin: 0;
        height: 1vw;
        width: auto;
      }
    }
  }

  h2 {
    text-align: left;
    margin: 50px 0 -25px 0;
  }

  .deploy {
    padding: 2px 13px 0 10px;
    border-radius: 10em;
    color: $color--primary;
    border: 1px solid $color--primary;
    background-color: transparent;
    font-size: $text-xx-small;
    transform: rotate(-45deg);
  }
  .active {
    transform: rotate(495deg);
  }

  .post__details {
    @extend .main-div;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 5vh;
    padding: 1% 3%;
    width: 94%;
    text-align: left;

    &_left {
      width: 45%;

      div {
        direction: rtl;
        height: 43.75vh;
        overflow-y: scroll;
        p {
          margin: 0 0 4% 0;
          width: 23.5vw;
          direction: ltr;
          padding: 2% 3%;
          border-radius: 10px;
          border: 1px solid #2c7c4d;
          &:last-child {
            margin: 0;
          }
        }
      }
    }

    &_right {
      width: 45%;

      div.list {
        padding: 2vh 5%;
        margin: 0 0 2vh 0;
        line-height: 10px;
        border-radius: 10px;
        border: 1px solid #2c7c4d;
        div {
          overflow-y: scroll;
          height: 15vh;
        }
        p {
          width: 90%;
          margin: 0 0 3% 0;
          padding: 0.65vw 3%;
          color: #fff;
          border-radius: 0.65vw;
          background-color: rgba(44, 124, 77, 0.5);
          &:last-child {
            margin: 0;
          }
        }
      }

      div.stats {
        height: 10.5vh;
        padding: 2% 5%;
        margin-bottom: 4%;
        font-weight: bold;
        line-height: 10px;
        border-radius: 10px;
        border: 1px solid #2c7c4d;
      }
    }

    ::-webkit-scrollbar {
      width: 6px;
    }

    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      -webkit-border-radius: 10px;
      border-radius: 10px;
      // margin: 1.5vh auto;
    }

    ::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: rgba(44, 124, 77, 0.7);
    }
    ::-webkit-scrollbar-thumb:window-inactive {
      background: rgba(44, 124, 77, 1);
    }
  }

  &__modale {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 0 0 0 2%;
    background-color: rgba(210, 210, 210, 0.65);
    z-index: 10;

    div {
      padding: 2%;
      border-radius: 15px;
      background-color: #fff;
      box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
    }

    section {
      margin: 4vh 0 0 0;
    }

    button {
      font-size: $text-x-small;
      padding: 10px 15px;
      margin: 0 5%;
      border-radius: 20px;
      &:nth-child(2) {
        @extend .secondary-button;
      }
    }
  }
}

@media (max-width: 768px) {
  .post {
    button {
      &.active {
        transform: rotate(495deg) !important;
      }
    }

    .post__details {
      flex-direction: column;
      text-align: center;

      &_left {
        width: 100%;

        div {
          text-align: left;
          p {
            width: 90%;
          }
        }
      }

      &_right {
        width: 100%;
        margin: 4vh 0 0 0;

        div.pods {
          padding: 2vh 5%;
          line-height: 25px;
        }

        div.stats {
          height: auto;
          padding: 2% 5%;
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .post {
    .post__main {
      .post-supp {
        width: 6vw;
        height: 6vw;
        &:before,
        &:after {
          left: 50%;
          height: 6vw;
        }
      }

      &_header {
        align-items: center;

        .user-infos {
          width: 70%;
        }
        .user-infos p:nth-child(1),
        .user-infos p:nth-child(2) {
          display: none;
        }
        img {
          width: 15%;
          height: 15%;
        }
      }

      &_content {
        padding: 5%;
        margin: 2vh 0 0 0;
        border-radius: 10px;
      }

      &_stats {
        flex-direction: column;
        margin: 2vh 0 0 0;
        div {
          display: flex;
          justify-content: space-between;
          width: 89.5%;
          padding: 0 5%;
        }
      }
    }

    h2 {
      text-align: center;
      margin: 50px 0 -25px 0;
      font-size: $text-normal;
    }
    button {
      display: none;
    }
  }
}
</style>
