<template>
  <div class="posts">
    <div class="posts__header">
      <h1>
        {{ creating ? $t("publish.title-create") : $t("publish.title-list") }}
      </h1>
      <button v-if="!creating" @click="creating = true">
        {{ $t("publish.create") }}
      </button>
      <button v-if="creating" @click="creating = false">
        {{ $t("publish.list") }}
      </button>
    </div>
    <PostsList v-if="!creating" />
    <PostPublication v-if="creating" :currentUser="currentUser" />
    <Notification :notif="notif" />
  </div>
</template>

<script lang="ts">
import { mapActions } from "vuex";
import PostPublication from "@/components/PostPublication.vue";
import PostsList from "@/components/PostsList.vue";
import Notification from "@/components/partials/Notification.vue";

export default {
  name: "Posts",
  components: {
    PostPublication,
    PostsList,
    Notification
  },
  data: function() {
    return {
      creating: false,
      renewal: "",
      notif: ""
    };
  },
  computed: {
    currentUser: {
      get() {
        return this.$store.getters.getUserInfos;
      }
    },
    currentUserId: {
      get() {
        return this.$store.getters.getUserId;
      }
    }
  },
  methods: {
    ...mapActions(["fetchCurrentUser", "setCurrentUserId"])
  },
  async mounted() {
    if (this.$route.query.id != null) {
      const userId = this.$route.query.id;
      localStorage.setItem("userId", String(userId));
      this.$router.push({ name: "Posts" });
      if (this.currentUser.role.id == "2") {
        localStorage.setItem("admin_access", "true");
      } else {
        localStorage.removeItem("admin_access");
      }
      location.reload();
    }
    if (!localStorage.getItem("userId")) {
      this.$router.push({ name: "Home" });
    }

    await this.fetchCurrentUser();

    if (localStorage.getItem("waitingForNotif") === "true") {
      this.notif = String(localStorage.getItem("notif"));
      setTimeout(() => localStorage.removeItem("waitingForNotif"), 1000);
      setTimeout(() => localStorage.removeItem("notif"), 1000);
    }
  }
};
</script>

<style lang="scss" scoped>
.posts {
  @extend .main;

  .posts__header {
    @extend .main-header;
  }

  .posts--list {
    @extend .main-content;
  }
}
</style>
