<template>
  <div class="chatbox">
    <div class="chatbox__header">
      <p>{{ $t("chatbox.title") }}</p>
    </div>
    <div class="chatbox__messages">
      <p v-for="msg in 4" :key="msg" :class="`message-msg${msg}`">
        {{ $t(`chatbox.msg${msg}`) }}
      </p>
    </div>
    <div class="chatbox__send">
      <textarea
        name="chatbox"
        placeholder="Ecrivez quelque chose..."
      ></textarea>
      <img src="../../assets/icons/send-message.webp" alt="Posts icon" />
    </div>
  </div>
</template>

<script lang="ts">
export default {
  name: "Chatbox"
};
</script>

<style lang="scss" scoped>
.chatbox {
  & {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: -80vw;
    bottom: 0;
    width: 350px;
    height: 450px;
    font-family: "Adam";
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 0px 10px grey;
    background-color: #fff;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3vw;
    p {
      font-size: $text-medium;
    }
  }
  &__messages {
    height: 80%;
    padding: 2%;
    text-align: left;
    overflow-y: scroll;
    background-color: #eee;
    p {
      display: inline-block;
      max-width: 60%;
      margin: 1%;
      padding: 2.5%;
      color: #eee;
      font-size: min(1vw, 16px);
      border-radius: 0 10px 10px 10px;
      background-color: $color--content;
    }
    .message-msg3 {
      margin: 5% 1% 5% 35%;
      border-radius: 10px 0 10px 10px;
      background-color: $color--secondary;
    }
  }
  &__send {
    & {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 10%;
      padding: 2%;
    }
    img {
      width: 7%;
      transition: 0.4s;
      &:hover {
        cursor: pointer;
        transform: translateX(4px);
      }
    }
  }
  textarea {
    width: 85%;
    height: 65%;
    padding: 3% 2% 0 2%;
    outline: none;
    border: none;
    border-radius: 12px;
    resize: none;
    font-size: $text-xx-small;
    background-color: #eee;
  }
}
</style>
