<template>
  <div class="menu">
    <div class="triangle"></div>
    <div>
      <p>{{ $t("menu.profile") }}</p>
      <router-link v-if="role == 2" :to="{ name: 'Admin' }">
        <p>{{ $t("menu.dashboard") }}</p>
      </router-link>
      <!-- <p>{{ $t("menu.notifs") }}</p> -->
      <!-- <p>{{ $t("menu.params") }}</p> -->
      <p class="logout" @click="logout()">{{ $t("menu.logout") }}</p>
    </div>
  </div>
</template>

<script lang="ts">
import Cookies from "js-cookie";

export default {
  name: "Menu",
  props: ["role"],
  methods: {
    logout() {
      Cookies.remove("access_token", { path: "" });
      Cookies.remove("admin_access", { path: "" });
      localStorage.removeItem("userId");
      localStorage.removeItem("admin_access");
      this.$router.push("/");
    }
  }
};
</script>

<style lang="scss" scoped>
.menu {
  z-index: 10;
  position: absolute;
  top: 20vh;
  width: 12vw;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

  .triangle {
    width: 2vw;
    height: 2vw;
    margin: 0 0 -3.5vh 0;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.04);
    transform: rotate(45deg) translate(3vw, -4.25vw);
  }

  a {
    color: $color--content;
    text-decoration: none;
  }

  .logout {
    color: $color--primary;
  }

  p {
    margin: 2.5vh 0;
    font-size: $text-xx-small;
    transition: 0.4s;
    &:hover {
      cursor: pointer;
      opacity: 0.6;
      transform: scale(1.03);
    }
  }
}

@media (max-width: 1024px) {
  .menu {
    top: 10vh;
    left: 62vw;
    width: 25vw;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.2);

    .triangle {
      width: 3vw;
      height: 3vw;
      margin: 0 0 -3.5vh 0;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: -2px -2px 1px rgba(0, 0, 0, 0.04);
      transform: rotate(-45deg) translate(-5vw, 3.25vw);
    }
  }
}
</style>
