<template>
  <div class="nav" :class="{ active: burger == true }">
    <div
      class="burger"
      @click="burger = !burger"
      :class="{ burgeractive: burger == true }"
    >
      <div></div>
      <div></div>
      <div></div>
    </div>
    <img
      :src="currentUser.profilePicture"
      alt="User profile picture"
      style="border-radius: 50%"
      @click="menu = !menu"
    />

    <span>{{ currentUser.firstName }} {{ currentUser.lastName }}</span>

    <Menu v-if="menu" :role="currentUser.role.id" />

    <div class="nav__links">
      <div
        v-for="item in items"
        :key="item"
        class="link"
        @click="burger = !burger"
      >
        <router-link :to="`/${item}`">{{ $t(`${item}.link`) }}</router-link>
        <img :src="getImageUrl(item)" />
      </div>
      <a href="#" class="nav__download" download>{{ $t("main.download") }}</a>
      <div class="links">
        <a href="https://www.youtube.com/" target="_blank">
          <img src="../../assets/icons/youtube-icon.webp" alt="Youtube icon" />
        </a>
        <a href="https://slack.com/intl/fr-fr/" target="_blank">
          <img src="../../assets/icons/slack-icon.webp" alt="Community icon" />
        </a>
        <a href="#" @click="chatbox = !chatbox">
          <img src="../../assets/icons/chat-icon.webp" alt="ChatBox icon" />
        </a>
      </div>
    </div>

    <Chatbox v-if="chatbox" />
  </div>
</template>

<script lang="ts">
import { mapActions } from "vuex";
import Menu from "@/components/partials/Menu.vue";
import Chatbox from "./Chatbox.vue";

export default {
  name: "Nav",
  components: {
    Menu,
    Chatbox
  },
  data() {
    return {
      burger: false,
      menu: false,
      items: [
        "posts",
        "pods",
        "comments",
        "boosts",
        "activity",
        // "contact",
        "about"
      ],
      chatbox: false
    };
  },
  computed: {
    currentUser: {
      get() {
        return this.$store.getters.getUserInfos;
      }
    }
  },
  methods: {
    ...mapActions(["fetchCurrentUser"]),
    getImageUrl(img: string) {
      return require(`../../assets/icons/${img}.svg`);
    },
    Menu() {
      console.log("prout");
    }
  },
  async mounted() {
    await this.fetchCurrentUser();
  }
};
</script>

<style lang="scss">
.nav {
  & {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 12vw;
    height: 98vh;
    padding: 1vh 1vw;
    border-right: 1px solid $color--content;
    z-index: 10;
  }

  .burger {
    display: none;
  }

  img {
    display: block;
    margin: 3vh auto 0 auto;
    width: 60%;
    max-width: 125px;
    &:hover {
      cursor: pointer;
    }
  }

  &__download {
    text-decoration: none;
    margin: 4vh 0 -4vh 0;
    color: $color--primary;
    transition: 0.4s;
    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .link {
      & {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 3.25vh 0;
        transition: 0.4s;
        &:hover {
          cursor: pointer;
          opacity: 0.5;
          transform: scale(1.03);
        }
      }
      .router-link-exact-active {
        color: $color--primary;
      }
      a {
        text-align: center;
        text-decoration: none;
        font-family: "Adam";
        font-weight: normal;
        color: $color--content;
        font-size: max(1.1vw, 19px);
        margin: 0 0 0 1vw;
      }
      img {
        width: 13%;
        margin: 0 0.5vw 0 1vw;
      }
    }

    .links {
      & {
        display: flex;
        justify-content: space-between;
        margin: 7.5vh 0.5vw 2.5vh 0.5vw;
      }
      a {
        width: 3.5vh;
        height: 3.5vh;
        transition: 0.4s;
        &:hover {
          cursor: pointer;
          transform: scale(1.1);
        }
        img {
          margin: 0;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .active {
    transform: translate(0%, 0) !important;
  }
  .burgeractive {
    left: 2vw !important;
  }

  .nav {
    & {
      transform: translate(-100%, 0);
      width: 98%;
      background-color: #fff;
      transition: 0.4s;
    }

    .burger {
      display: block !important;
      position: absolute;
      top: 35px;
      left: 102vw;

      div {
        width: 40px;
        height: 5px;
        background: $color--primary;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        transition: 0.5s;
        &:nth-child(2) {
          margin: 8px 0;
        }
      }
    }

    .link {
      & {
        justify-content: center;
        margin: 2vh 0;
      }
      a {
        text-align: center;
        font-size: max(1.3vw, 22px);
      }
      img {
        width: 2.5%;
      }
    }

    .links {
      & {
        display: flex;
        justify-content: space-around;
        margin: 7.5vh auto 2.5vh auto;
        width: 200px;
      }
      a {
        width: 3.5vh;
        height: 3.5vh;
        transition: 0.4s;
        &:hover {
          cursor: pointer;
          transform: scale(1.1);
        }
        img {
          margin: 0;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 860px) and (orientation: landscape) {
  .nav {
    & {
      flex-direction: row;
    }

    img {
      margin: auto;
      transform: translateX(-12.5vw);
    }

    .link {
      & {
        margin: 0;
        transform: translateX(-30vw);
      }
      a {
        font-size: max(1vw, 18px);
      }
      img {
        width: 7%;
        transform: translateX(0vw);
      }
    }

    .links {
      & {
        position: absolute;
        flex-direction: column;
        width: 10%;
        height: 60%;
        transform: translate(15vw, -5vh);
      }
      a {
        img {
          margin: 0;
          width: 200%;
          transform: translate(0);
        }
      }
    }
  }
}

@media (max-width: 670px) and (orientation: landscape) {
  .nav {
    img {
      width: 15%;
      transform: translateX(-10vw);
    }
    .link {
      & {
        transform: translateX(-25vw);
      }
      img {
        transform: translateX(0vw);
      }
    }
    .links {
      & {
        transform: translate(25vw, -5vh);
      }
    }
  }
}

@media (max-width: 420px) {
  .nav {
    .burger {
      div {
        width: 30px;
        height: 4px;
        background: $color--primary;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        transition: 0.5s;
        &:nth-child(2) {
          margin: 5px 0;
        }
      }
    }
    img {
      margin: 0 auto 0 auto;
    }
    .link {
      img {
        transform: translateX(0vw);
        width: 5%;
      }
    }
  }
}
</style>
