<template>
  <div class="linkedin__nav">
    <img
      src="../../assets/images/logo.png"
      alt="The Poding Machine by Social IT"
    />
    <div class="linkedin__nav__link">
      <a href="http://thepodingmachine.com/#pods" target="_blank">{{
        $t("home.products")
      }}</a>
      <a href="http://thepodingmachine.com/#plugin" target="_blank">{{
        $t("home.plugin")
      }}</a>
      <a href="http://thepodingmachine.com/#tarifs" target="_blank">{{
        $t("home.rates")
      }}</a>
      <a href="http://thepodingmachine.com/#contact" target="_blank">{{
        $t("home.contact")
      }}</a>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  name: "NavLinkedIn"
};
</script>

<style lang="scss" scoped>
.linkedin__nav {
  & {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 120px;
  }

  img {
    width: 6%;
  }
}

.linkedin__nav__link {
  & {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  a {
    margin: 0 0 0 3vw;
    text-decoration: none;
    color: $color--content;
    font-size: $text-x-small;
    transition: 0.3s;
    &:hover {
      opacity: 0.6;
    }
  }
}

@media (max-width: 1024px) {
  .linkedin__nav {
    & {
      padding: 2vw 5vw;
    }

    img {
      width: 8%;
    }
  }

  .linkedin__nav__link {
    a {
      font-size: $text-small;
    }
  }
}

@media (max-width: 768px) {
  .linkedin__nav {
    img {
      width: 15%;
    }
  }

  .linkedin__nav__link {
    a {
      font-size: $text-normal;
    }
  }
}
</style>
