<template>
  <div
    class="notif"
    :class="{
      'notif--inactive': active == false,
      'notif--active': active == true,
      'notif--unactive': unactive == true
    }"
  >
    <p>
      <b>{{ $t("main.notification") }}</b
      >{{ notif }}
    </p>
  </div>
</template>

<script>
export default {
  name: "Notification",
  props: ["notif"],
  data() {
    return {
      active: false,
      unactive: false
    };
  },
  watch: {
    notif() {
      if (this.active == true) {
        this.unactive = !this.unactive;
        setTimeout(() => (this.active = !this.active), 300);
        setTimeout(() => (this.unactive = !this.unactive), 300);
      } else {
        this.active = !this.active;
        setTimeout(() => (this.active = !this.active), 4300);
        setTimeout(() => (this.unactive = !this.unactive), 4000);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.notif {
  position: absolute;
  bottom: 3vh;
  right: 2vw;
  width: auto;
  height: auto;
  margin: auto;
  padding: 0 1%;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
  transition: 0.4s;
  &:hover {
    cursor: pointer;
    transform: scale(1.03);
  }

  p {
    color: $color--linkedin;

    b {
      color: $color--primary;
    }
  }

  &--inactive {
    display: none;
  }

  &--active {
    transform: translateX(0);
    animation: slideOn 0.5s ease-in-out;
  }

  &--unactive {
    animation: slideOff 0.5s ease-in-out;
  }

  @keyframes slideOn {
    0% {
      transform: translateX(300px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideOff {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(300px);
      opacity: 0;
    }
  }
}
</style>
