<template>
  <div class="boostMonth">
    <div class="boostMonth__title" v-if="!sub">
      <div
        class="boostMonth__title_content"
        v-for="currentSub in subscriptions.slice(1, 4)"
        :key="currentSub"
      >
        {{ currentSub.title }}
      </div>
    </div>

    <div class="boostMonth__prices" v-if="!sub">
      <div
        class="boostMonth__prices_content"
        v-for="currentSub in subscriptions.slice(1, 4)"
        :key="currentSub"
      >
        <small>{{ $t("posts.link") }}</small>
        <div>{{ currentSub.post }}</div>
        <h2>{{ currentSub.price }} {{ $t("sub.price-content") }}</h2>
        <p>{{ $t("boost.price-month") }}</p>
      </div>
    </div>

    <Payment v-if="sub" :subscription="sub" />

    <div class="boostMonth__buttons" v-if="!sub">
      <button
        v-for="currentSub in subscriptions.slice(1, 4)"
        :key="currentSub"
        @click="sub = currentSub"
      >
        {{ $t("main.subscription") }}
      </button>
    </div>

    <div class="boostMonth__buttons" v-if="sub">
      <button v-if="sub" @click="sub = ''">
        {{ $t("main.return") }}
      </button>
    </div>
  </div>
</template>

<script>
import Payment from "@/components/stripe/Payment.vue";

export default {
  name: "BoostMonth",
  props: ["subscriptions"],
  components: {
    Payment
  },
  data() {
    return {
      sub: false,
      price: 0,
      posts: "",
      itemId: ""
    };
  }
};
</script>

<style lang="scss" scoped>
.boostMonth {
  &__title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 6.5vh;

    &_content {
      height: auto;
      margin-bottom: 5vh;
      font-size: x-large;
      font-weight: bold;
      border: 1px solid #116032;
      box-shadow: none;
      border-radius: 15px;
      padding: 2% 3%;
      width: 26%;
    }
  }

  &__prices {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 2em;
    margin-bottom: 1em;
    width: 100%;

    &_content {
      border-radius: 15px;
      margin-top: 0;
      height: 8em;
      padding-bottom: 2em;
      padding-top: 2em;
      width: 32%;
      &:nth-child(1) {
        background-color: #8cc1a2;
      }
      &:nth-child(2) {
        background-color: #59a378;
      }
      &:nth-child(3) {
        background-color: #116032;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
  }
}

h2 {
  font-size: 1.75em;
  font-weight: normal;
  margin: 8vh 0 -40px 0;
}
</style>
