<template>
  <div class="comments__content">
    <div
      class="comments__content__comment"
      v-for="(list, index) in commentsLists"
      :list="{ list }"
      :key="list.id"
    >
      <router-link :to="{ name: 'Comment', params: { id: index } }">
        <CommentCard :list="list" @toggle-modal="toggleModal" />
      </router-link>
    </div>
    <div v-if="modale" class="comments__modale">
      <div>
        <p>{{ $t("comments.modal") }}</p>
        <section>
          <button @click="modale = !modale">{{ $t("main.cancel") }}</button>
          <button @click="delList()">{{ $t("main.confirm") }}</button>
        </section>
      </div>
    </div>
    <div v-if="commentsLists.length == 0" class="empty">
      <h3>{{ $t("comments.empty-1") }}</h3>
      <p>
        {{ $t("comments.empty-2") }}
        <b>{{ $t("comments.empty-3") }}</b>
        ☝
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import CommentCard from "@/components/CommentCard.vue";
import { mapActions } from "vuex";

export default {
  name: "CommentsList",
  components: {
    CommentCard
  },

  data() {
    return {
      modale: false,
      currentId: ""
    };
  },
  computed: {
    commentsLists: {
      get() {
        return this.$store.getters.getUserLists;
      }
    }
  },
  methods: {
    ...mapActions(["fetchCommentsLists", "delUserList"]),
    deleteItemList() {
      this.modale = false;
    },
    toggleModal(id: string) {
      this.currentId = id;
      this.modale = !this.modale;
    },
    async delList() {
      const id = this.currentId;
      await this.delUserList(id);
      this.modale = !this.modale;
      location.reload();
    }
  },
  async mounted() {
    const userId = localStorage.getItem("userId");
    await this.fetchCommentsLists(userId);
  }
};
</script>

<style lang="scss" scoped>
.comments {
  &__modale {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(210, 210, 210, 0.65);
    z-index: 10;

    div {
      padding: 2%;
      border-radius: 15px;
      background-color: #fff;
      box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
    }

    section {
      margin: 4vh 0 0 0;
    }

    button {
      font-size: $text-x-small;
      padding: 10px 15px;
      margin: 0 5%;
      border-radius: 20px;
      &:nth-child(2) {
        @extend .secondary-button;
      }
    }
  }
}
.comments__content__comment {
  & {
    width: 100%;
    margin: 0 0 1.5vh 0;
    text-align: left;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    transition: 0.4s;
  }
  &:hover {
    transform: scale(1.02);
  }

  a {
    text-decoration: none;
  }
}

.empty {
  margin: 25vh 0 0 0;
  b {
    color: $color--primary;
  }
}

@media (max-width: 420px) {
  .comments__content__comment {
    & {
      border-radius: 10px;
    }
  }
}
</style>
