<template>
  <div class="comment">
    <div class="comment__top__buttons">
      <input
        class="comment__content--title"
        type="text"
        :placeholder="$t('comment.placeholder-content-title')"
        v-model="commentList.newTitle"
      />
    </div>
    <div class="comment__content--input">
      <li v-for="(input, index) in commentList.inputs" :key="index">
        <input v-model="input.name" type="text" />
        <div
          class="comment__content--input__supp"
          @click.prevent="deleteInput(input)"
        ></div>
      </li>
    </div>
    <span class="comment__content--input__count" v-show="hasInputs > 0"
      ><strong>{{ commentList.inputs.length }}</strong>
      {{ $t("comment.count") }}</span
    >
    <div class="comment__content">
      <textarea
        name="content"
        id="content"
        :placeholder="$t('comment.placeholder-content')"
        v-model="commentList.newInput"
        @keyup.ctrl.enter="addInput"
      ></textarea>
    </div>
    <div class="comment__create">
      <p v-if="commentList.inputs.length < 2">
        {{ $t("comment.advice") }}
      </p>
      <p v-else></p>
      <button
        @click.prevent="createComments()"
        :disabled="!commentList.newTitle || commentList.inputs.length < 2"
      >
        {{ $t("comment.create-list") }}
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { mapActions } from "vuex";
export default {
  props: ["comment"],
  name: "CommentCreate",
  data() {
    return {
      commentList: {
        inputs: [
          {
            name: "Commentaire d'exemple"
          }
        ],
        newInput: "",
        newTitle: ""
      }
    };
  },
  computed: {
    hasInputs(): boolean {
      return this.commentList.inputs.length > 0;
    }
  },
  methods: {
    ...mapActions(["createListComments"]),
    addInput() {
      let coms: string[] = this.commentList.newInput.split(/\n\n\n/);
      coms = coms.filter(e => e !== "");
      coms = coms.filter(e => e !== "\n");
      coms = coms.filter(e => e !== "\n\n");
      coms = coms.filter(e => e !== "\n\n\n");
      for (let com = 0; com < coms.length; com++) {
        this.commentList.inputs.push({
          name: coms[com]
        });
      }
      this.commentList.newInput = "";
    },
    deleteInput(input: { name: string; validate: boolean }) {
      this.commentList.inputs = this.commentList.inputs.filter(
        i => i !== input
      );
    },
    async createComments() {
      const title = this.commentList.newTitle;
      const userId = localStorage.getItem("userId");
      const comments: string[] = [];
      for (let index = 0; index < this.commentList.inputs.length; index++) {
        comments.push(this.commentList.inputs[index].name);
      }
      await this.createListComments({
        title,
        userId,
        comments
      });
      location.reload();
    }
  },
  async mounted() {
    this.commentList.inputs.splice(0);
  }
};
</script>

<style lang="scss" scoped>
.comment {
  @extend .main-div;
  height: auto;
  margin-bottom: 5vh;
}
.comment__top__buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 0 1vw 0;
}

.comment__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #2c7c4d;
  border-radius: 10px;
  height: 20vh;
  padding: 2%;
  margin: 2vw 0;

  textarea {
    height: 100%;
    font-size: $text-x-small;
    resize: none;
    border: none;
    outline: none;
    &::placeholder {
      color: rgba(180, 180, 180);
    }
  }

  p {
    font-size: $text-x-small;
  }

  &--title {
    border: 1px solid #2c7c4d;
    border-radius: 10px;
    padding: 1% 1.25%;
    margin: 0 0 1.5vw 0;
    height: 3.5vh;
    font-size: $text-xx-small;
    &::placeholder {
      color: #ddd;
    }
  }

  &--input {
    li {
      display: flex;
      justify-content: space-between;
      border: 1px solid #2c7c4d;
      border-radius: 10px;
      padding: 1%;
      margin-bottom: 1vw;
      text-align: start;

      input {
        color: $color--content;
        font-size: $text-xx-small;
        border: none;
        width: 50vw;
      }
    }
  }
  &--input__count {
    opacity: 0.5;
    text-align: start;
    font-size: $text-xx-small;
  }
  &--input__edit {
    color: $color--content;
    font-size: $text-xx-small;
    border: none;
    width: 50vw;
  }
  &--input__supp {
    position: relative;
    width: 1.1vw;
    height: 20px;
    opacity: 0.6;
    transition: 0.4s;
    &:hover {
      opacity: 1;
      cursor: pointer;
      transform: scale(1.05);
    }
    &:before,
    &:after {
      position: absolute;
      content: " ";
      height: 20px;
      width: 3px;
      border-radius: 1em;
      background-color: $color--primary;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

.comment__create {
  display: flex;
  justify-content: space-between;

  p {
    color: $color--primary;
  }

  button {
    &:disabled {
      cursor: auto;
      opacity: 0.3;
    }
    &:hover:disabled {
      color: #fff;
      background-color: $color--primary;
    }
  }
}

@media (max-width: 1024px) {
  .comment__top__buttons {
    flex-wrap: wrap;
  }

  #comment__import1,
  #comment__import2 {
    width: 175px;
    margin: 0 0 25px 0;
    &::before {
      border-radius: 15px;
      padding: 10px 20px;
    }
  }

  .comment__content {
    &--title {
      width: 100%;
      margin: 0 0 25px 0;
      font-size: $text-xx-small;
    }
  }

  .comment__create {
    justify-content: center;
    margin: 1vw 0 0 0;
  }
}

@media (max-width: 420px) {
  #comment__import1,
  #comment__import2 {
    width: 100%;
    margin: 0 0 1vh 0;
    &::before {
      border-radius: 10px;
      width: 81%;
      text-align: center;
    }
  }

  .comment__content {
    textarea {
      font-size: 15px;
    }
    &--title {
      margin: 2vh 0 15px 0;
      border-radius: 5px;
      font-size: 15px;
    }
    &--input {
      ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
      }
      li {
        border-radius: 5px;
        font-size: 14px;
      }
    }
    &--input__count {
      font-size: 15px;
    }
    &--input__supp {
      width: 3vw;
      height: 3vw;
      &:before,
      &:after {
        height: 4vw;
        width: 2px;
      }
    }
    &--extras {
      .inserts {
        #insert__smiley {
          width: 35px;
          &::before {
            font-size: $text-small;
            margin: 0 0 1.5vh 30%;
          }
        }
      }
    }
  }
}
</style>
