<template>
  <div class="commentcard">
    <div class="commentcard__content">
      <div class="commentcard__content_left">
        <p>{{ list.title }}</p>
      </div>
      <div class="commentcard__content_center">
        <p>{{ list.comments.length }} {{ $t("comment.count") }}</p>
      </div>
      <div class="commentcard__content_right">
        <div
          class="commentcard__content_supp"
          @click.prevent="emitModalEvent(list.id)"
        ></div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  props: ["list"],
  methods: {
    emitModalEvent(id: number) {
      this.$emit("toggle-modal", id);
    }
  }
};
</script>

<style lang="scss" scoped>
.commentcard__content {
  & {
    display: flex;
    justify-content: space-between;
    padding: 1% 2%;
    border-radius: 15px;
  }

  &_left {
    flex: 20%;
    p {
      font-size: $text-small;
      color: $color--content;
      font-weight: bold;
    }
  }
  &_center {
    display: flex;
    align-items: center;
    color: black;
    font-size: $text-xx-small;
  }
  &_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex: 20%;

    small,
    span {
      color: $color--content;
    }

    div {
      position: relative;
      width: 0.7vw;
      height: 25px;
      opacity: 0.6;
      transition: 0.4s;
      padding-top: 3px;
      &:hover {
        opacity: 1;
        transform: scale(1.1);
      }
      &:before,
      &:after {
        position: absolute;
        content: "";
        height: 25px;
        width: 3px;
        border-radius: 1em;
        background-color: $color--primary;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}

@media (max-width: 1024px) {
  .commentcard__content {
    &_right {
      div {
        height: 20px;
        &:before,
        &:after {
          height: 20px;
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .commentcard__content {
    & {
      padding: 0% 5%;
      align-items: center;
    }

    p {
      font-size: 14px;
    }

    &_left {
      flex: 30%;
    }
    &_right {
      flex: 15%;
      flex-direction: row-reverse;

      small {
        display: none;
      }

      div {
        height: 18px;
        &:before,
        &:after {
          left: -1vw;
          height: 17px;
          width: 2px;
        }
      }
    }
  }
}
</style>
