<template>
  <div class="login">
    <div class="login__form">
      <div class="login__button">
        <a
          href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=78noc90ec4ixr3&redirect_uri=http://ec2-34-254-91-44.eu-west-1.compute.amazonaws.com:3000/api/auth/callback&state=foobar&scope=w_member_social%20r_liteprofile%20r_emailaddress"
        ></a>
      </div>
      <a
        href="http://thepodingmachine.com/"
        class="login__infos"
        target="_blank"
        >{{ $t("login.infos") }}</a
      >
    </div>
  </div>
</template>

<script>
export default {
  name: "LinkedinLogin"
};
</script>

<style lang="scss" scoped>
.login {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.login__form {
  & {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 55%;
    border-radius: 13px;
    background-color: #30b066;
  }
}

.login__button {
  display: flex;
  justify-content: center;
  width: 14vw;
  height: 3vw;
  border: 1.5px solid $color--linkedin;
  background-image: url(../assets/images/Sign-In-Default.png);
  background-size: 100% 100%;
  border-radius: 8px;
  transition: 0.4s;
  &:hover {
    background-image: url(../assets/images/Sign-In-Hover.png);
  }

  a {
    width: 100%;
    height: 100%;
    &:hover {
      cursor: pointer;
    }
  }
}

.login__infos {
  margin-top: 5%;
  font-size: min(2vw, 17.5px);
  color: #fff;
  text-decoration: none;
  transition: 0.4s;
  &:hover {
    cursor: pointer;
    transform: scale(1.03);
  }
}

@media (max-width: 1024px) {
  .login__form {
    & {
      width: 60%;
      height: 40vw;
    }
  }

  .login__button {
    width: 23vw;
    height: 5vw;
  }

  .login__infos {
    font-size: min(5vw, 20px);
  }
}

@media (max-width: 768px) {
  .login__form {
    & {
      width: 80%;
      height: 80vw;
    }
  }

  .login__button {
    width: 45vw;
    height: 10vw;
    border-radius: 10px;
  }

  .login__infos {
    font-size: min(5vw, 25px);
  }
}
</style>
