<template>
  <div class="pod__content--main">
    <h3>{{ $t("pod.activity-msg") }}</h3>
    <!-- <div v-for="activity in activities" :key="activity">
      <p>
        <strong
          >{{ activity.user.firstName }} {{ activity.user.lastName }}</strong
        >
        à {{ activity.content }}.
      </p>
      <p class="date">
        {{ $t("pod.activity-1") }}{{ moment(activity.date).format("")
        }}{{ $t("pod.activity-2") }}
      </p>
    </div> -->
  </div>
</template>

<script lang="ts">
export default {
  name: "PodActivity",
  props: ["pod"]
};
</script>

<style lang="scss" scoped>
.pod__content--main {
  @extend .pod-content;

  div {
    @extend .pod-content__main;

    p.date {
      color: #8cc1a2;
    }
  }
}

@media (max-width: 420px) {
  .pod__content--main {
    height: auto;
    margin: 0 0 5vh 0;
    div {
      p {
        margin: 0;
        font-size: 15px;
      }
      p.date {
        color: #8cc1a2;
        margin: 2vh 0 0 0;
      }
    }
  }
}
</style>
