<template>
  <div class="pod-creation">
    <div class="pod-creation__inputs" v-if="!switched">
      <input
        type="text"
        class="pod-input"
        v-model="theme"
        :placeholder="$t('pod-creation.placeholder-theme')"
      />
      <input
        type="text"
        class="pod-input"
        v-model="name"
        :placeholder="$t('pod-creation.placeholder-name')"
      />
      <input
        type="text"
        class="pod-input"
        v-model="location"
        :placeholder="$t('pod-creation.placeholder-location')"
      />
    </div>
    <div v-if="!switched" class="pod-creation__content">
      <textarea
        name="content"
        v-model="description"
        :placeholder="$t('pod-creation.placeholder-content')"
      ></textarea>
    </div>
    <div v-if="switched" class="pod-creation__leave" @click="cancel()">
      <div class="podleave"></div>
    </div>
    <div v-if="switched" class="pod-creation__params">
      <h2>{{ $t("pod-creation.params") }}</h2>
      <div>
        <label for="Auto-Accept">{{ $t("pod-creation.params-accept") }}</label>
        <input type="checkbox" name="Auto" v-model="autoAddition" />
      </div>
      <div>
        <label for="New-Users">{{ $t("pod-creation.params-newusers") }}</label>
        <input type="checkbox" name="NewUsers" />
      </div>
      <p>{{ $t("pod-creation.params-user") }}</p>
      <div>
        <label for="Likes">{{ $t("pod-creation.params-like") }}</label>
        <input type="checkbox" name="Like" />
      </div>
      <div>
        <label for="Auto-Comment">{{
          $t("pod-creation.params-autocomment")
        }}</label>
        <input type="checkbox" name="AutoComment" v-model="autoBoost" />
      </div>
    </div>
    <div class="pod-creation__create">
      <div v-if="!switched"></div>
      <button
        v-if="!switched"
        @click="switched = true"
        :disabled="!theme || !name || !location || !description"
      >
        {{ $t("pod-creation.next") }}
      </button>
      <button v-if="switched" href="#" @click="switched = false">
        {{ $t("pod-creation.previous") }}
      </button>
      <a v-if="switched" href="#" @click="createPod()">{{
        $t("pod-creation.create")
      }}</a>
    </div>
  </div>
</template>

<script lang="ts">
import { mapActions } from "vuex";

export default {
  name: "PostCreation",
  props: ["creating"],
  data() {
    return {
      switched: false,
      theme: "",
      name: "",
      location: "",
      description: "",
      autoAddition: false,
      autoBoost: false,
      activitySector: "1"
    };
  },
  methods: {
    ...mapActions(["addUserPod"]),
    cancel() {
      location.reload();
    },
    create() {
      console.log(this.theme);
      console.log(this.name);
      console.log(this.location);
    },
    async createPod() {
      const theme = this.theme;
      const name = this.name;
      const description = this.description;
      const location = this.location;
      const autoAddition = this.autoAddition;
      const autoBoost = this.autoBoost;
      const activitySector = this.activitySector;
      const userAdmin = localStorage.getItem("userId");
      await this.addUserPod({
        theme,
        name,
        description,
        location,
        autoAddition,
        autoBoost,
        activitySector,
        userAdmin
      });
      this.cancel();
    }
  }
};
</script>

<style lang="scss" scoped>
.pod-creation {
  @extend .main-div;

  &__inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .pod-input {
      width: 25%;
      font-size: $text-x-small;
      border: 1px solid #2c7c4d;
      border-radius: 9px;
      padding: 1.5% 2%;
      &::placeholder {
        color: #ccccccb0;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 60%;
    border: 1px solid #2c7c4d;
    border-radius: 9px;
    padding: 2%;

    textarea {
      height: 100%;
      font-size: $text-xx-small;
      resize: none;
      border: none;
      outline: none;
      &::placeholder {
        color: #ccccccb0;
      }
    }
  }

  &__leave {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 -10% 0;

    .podleave {
      position: relative;
      width: 2vw;
      height: 30px;
      opacity: 0.6;
      transition: 0.4s;
      &:hover {
        opacity: 1;
        cursor: pointer;
        transform: scale(1.05);
      }
      &:before,
      &:after {
        position: absolute;
        content: " ";
        height: 30px;
        width: 5px;
        border-radius: 1em;
        background-color: $color--primary;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }

  &__params {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 75%;
    text-align: left;
    font-size: $text-x-small;

    h2 {
      margin: 0;
    }

    div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0;
    }
    p {
      margin: 5vh 0 0 0;
      font-weight: bold;
      font-size: $text-small;
    }

    input[type="checkbox"] {
      width: $text-small;
      height: $text-small;
      border-radius: 50%;
      border: 2px solid $color--secondary;
      -webkit-appearance: none;
      outline: none;
      transition: 0.2s;
      cursor: pointer;
      &:checked {
        background-color: $color--secondary;
      }
    }
  }

  &__create {
    display: flex;
    justify-content: space-between;

    a {
      @extend .button;
    }

    button {
      @extend .secondary-button;
      &:hover {
        color: #fff;
        background-color: $color--secondary;
      }
      &:disabled {
        cursor: auto;
        opacity: 0.3;
        &:hover {
          color: $color--secondary;
          background-color: #fff;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .pod-creation {
    height: 60vh;

    &__content {
      height: 70%;
    }
  }
}

@media (max-width: 420px) {
  .pod-creation {
    height: 60vh;
    padding: 5% 7%;

    .pod-title {
      width: 93%;
      font-size: $text-xx-small;
      border-radius: 5px;
      padding: 2% 3%;
    }

    &__content {
      height: 70%;
      border-radius: 5px;

      &__extras {
        #insert__smiley {
          width: 35px;
          &::before {
            font-size: $text-small;
          }
        }
      }
    }

    &__leave {
      margin: 0 0 -30% 0;
      .podleave {
        width: 7vw;
        height: 6vw;
        &:before,
        &:after {
          height: 6vw;
          width: 3px;
        }
      }
    }

    &__params {
      height: 80%;
      h2 {
        font-size: $text-medium;
        margin: 0 0 2vh 0;
      }
      label {
        font-size: 15px;
        width: 85%;
      }
      p {
        font-size: $text-xx-small;
      }
    }
  }
}
</style>
