<template>
  <div class="pod-card">
    <div class="pod-card__content">
      <div class="pod-card__content--left">
        <h3>{{ pod.name }}</h3>
        <p>
          {{ pod.description }}
        </p>
      </div>
      <div class="pod-card__content--right">
        <div class="pod-card__content--stats">
          <img
            v-if="pod.autoAddition"
            src="../assets/icons/auto_accept.webp"
            alt=""
          />
          <img src="../assets/icons/new_users.webp" alt="" />
          <img src="../assets/icons/likes.webp" alt="" />
          <img
            v-if="pod.autoBoost"
            src="../assets/icons/auto_comment.webp"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  props: ["pod"]
};
</script>

<style lang="scss" scoped>
.pod-card__content {
  & {
    display: flex;
    padding: 2%;
    border-radius: 15px;
  }

  &--left {
    flex: 80%;

    h3 {
      margin: 0 0 10px 0;
      font-size: $text-small;
      color: $color--content;
    }
    p {
      color: $color--content;
    }
  }

  &--right {
    display: flex;
    flex-direction: column;
    flex: 20%;
    text-align: right;
  }

  &--stats {
    img {
      margin: 0 0 0 5%;
      height: $text-normal;
      width: auto;
    }
  }
}

@media (max-width: 1024px) {
  .pod-card__content {
    &--left {
      flex: 65%;
    }
    &--stats {
      img {
        margin: 0 0 0 5%;
        height: $text-small;
        width: auto;
      }
    }
  }
}

@media (max-width: 420px) {
  .pod-card__content {
    & {
      flex-direction: column;
      padding: 3%;
    }

    &--left {
      h3 {
        font-size: $text-x-small;
      }
      p {
        font-size: 15px;
      }
    }

    &--right {
      text-align: left;
    }

    &--stats {
      img {
        margin: 0 0 0 5%;
        height: $text-xx-small;
        width: auto;
        &:first-child {
          margin: 0;
        }
      }
    }
  }
}
</style>
