<template>
  <div class="pod-join">
    <div class="pod-join__form">
      <form action="" method="POST">
        <input
          type="text"
          name="podtitle"
          class="pod-title"
          :placeholder="$t('pod-join.placeholder-name')"
        />
        <div>
          <label for="AutoAccepting">{{ $t("pod-join.params-accept") }}</label>
          <input type="checkbox" name="AutoAccepting" value="AutoAccepting" />
        </div>
        <div>
          <label for="NewUsersAgree">{{
            $t("pod-join.params-newusers")
          }}</label>
          <input type="checkbox" name="NewUsersAgree" value="NewUsersAgree" />
        </div>
        <p>{{ $t("pod-join.params-user") }}</p>
        <div>
          <label for="Like">{{ $t("pod-join.params-like") }}</label>
          <input type="checkbox" name="Like" value="Like" />
        </div>
        <div>
          <label for="AutoComment">{{
            $t("pod-join.params-autocomment")
          }}</label>
          <input type="checkbox" name="AutoComment" value="AutoComment" />
        </div>
      </form>
    </div>

    <div class="pod-card" v-for="pod in pods" :pod="{ pod }" :key="pod.id">
      <div class="pod-card__content">
        <div class="pod-card__content--left">
          <h3>{{ pod.name }}</h3>
          <p>{{ pod.description }}</p>
        </div>
        <div class="pod-card__content--right">
          <div class="pod-card__content--stats">
            <!-- <img src="../assets/icons/share.webp" alt="" /> -->
            <img
              v-if="pod.autoAddition"
              src="../assets/icons/views.webp"
              alt=""
            />
            <img v-if="pod.autoBoost" src="../assets/icons/likes.webp" alt="" />
            <!-- <img src="../assets/icons/comments.webp" alt="" /> -->
            <img src="../assets/icons/percents.webp" alt="" />
          </div>
          <div class="pod-card__content--infos">
            <button @click="(currentPod = pod), (modale = !modale)">
              {{ $t("pod-join.join") }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div v-if="modale" class="pod-join__modale">
      <div>
        <p>
          {{ $t("pod-join.modal-1") }}<b>{{ currentPod.name }}</b
          >{{ $t("pod-join.modal-2") }}
        </p>
        <section>
          <button @click="modale = !modale">{{ $t("main.cancel") }}</button>
          <button @click="joinPod()">{{ $t("main.confirm") }}</button>
        </section>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { mapActions } from "vuex";

export default {
  name: "PodJoin",
  data() {
    return {
      modale: false,
      pods: [{}],
      currentPod: []
    };
  },
  computed: {
    availablesPods: {
      get() {
        return this.$store.getters.getAvailablesPods;
      }
    }
  },
  methods: {
    ...mapActions(["fetchCurrentUser", "fetchAvailablesPods", "AddUserToPod"]),
    async joinPod() {
      const id = this.currentPod.id;
      const userUuid = localStorage.getItem("userId");
      await this.AddUserToPod({ id, userUuid });
      location.reload();
    }
  },
  async mounted() {
    const userId = localStorage.getItem("userId");
    await this.fetchAvailablesPods(userId);
    this.pods.splice(0);
    for (let index = 0; index < this.availablesPods.length; index++) {
      if (this.availablesPods[index] != null) {
        this.pods.push(this.availablesPods[index]);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.pod-join__modale {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(210, 210, 210, 0.65);
  z-index: 10;

  div {
    padding: 2%;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
  }

  section {
    margin: 4vh 0 0 0;
  }

  button {
    font-size: $text-x-small;
    padding: 10px 15px;
    margin: 0 5%;
    border-radius: 20px;
    &:nth-child(2) {
      @extend .secondary-button;
    }
  }
}

.pod-join__form {
  @extend .main-div;
  height: 40vh;
  margin-bottom: 5vh;

  form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    font-size: $text-small;

    .pod-title {
      width: 100%;
      max-width: 200px;
      font-size: $text-x-small;
      border: 1px solid #2c7c4d;
      border-radius: 13px;
      padding: 1.5%;
      &::placeholder {
        color: #ccccccb0;
      }
    }

    div {
      display: flex;
      justify-content: space-between;
    }
    p {
      margin: 3vh 0 0 0;
      font-weight: bold;
      font-size: $text-small;
    }

    input[type="checkbox"] {
      width: $text-x-small;
      height: $text-x-small;
      border-radius: 50%;
      border: 2px solid $color--secondary;
      -webkit-appearance: none;
      outline: none;
      transition: 0.2s;
      cursor: pointer;
      &:checked {
        background-color: $color--secondary;
      }
    }
  }
}

.pod-card {
  @extend .main-card;
}
.pod-card__content {
  & {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 2%;
    border-radius: 15px;
  }

  &--left {
    flex: 80%;

    h3 {
      margin: 0 0 10px 0;
      color: $color--content;
    }
    p {
      color: #000;
    }
  }

  &--right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 20%;
    text-align: right;
  }

  &--stats {
    img {
      margin: 0 0 0 5%;
      height: $text-normal;
      width: auto;
    }
  }

  &--infos {
    button {
      @extend .secondary-button;
      margin: 1.5vw 0 0 0;
      font-size: $text-xx-small;
      max-width: 150px;
      border-radius: 20px;
      &:hover {
        color: #fff;
        background-color: $color--secondary;
      }
    }
  }
}

@media (max-width: 1024px) {
  .pod-join__form {
    height: 45vh;

    form {
      .pod-title {
        width: 40%;
        border-radius: 10px;
        padding: 1.5%;
      }
    }
  }

  .pod-card__content {
    &--left {
      flex: 65%;
    }
    &--stats {
      img {
        margin: 0 0 0 5%;
        height: $text-small;
        width: auto;
      }
    }
    &--infos {
      button {
        @extend .secondary-button;
        padding: 1vw 2vw;
      }
    }
  }
}

@media (max-width: 420px) {
  .pod-join__form {
    height: 45vh;
    form {
      .pod-title {
        width: 95%;
        max-width: none;
        border-radius: 5px;
        font-size: 15px;
        padding: 1.5% 2%;
        margin: 0 0 2vh 0;
      }
      label {
        width: 85%;
        font-size: 15px;
      }
      p {
        font-size: $text-xx-small;
      }
    }
  }

  .pod-card {
    &__content {
      flex-direction: column;
      padding: 3%;
      &--left {
        h3 {
          margin: 0;
          font-size: $text-xx-small;
        }
        p {
          font-size: 15px;
        }
      }
      &--right {
        flex-direction: row;
        text-align: left;
        align-items: center;
      }
      &--stats {
        width: 55%;
        img {
          margin: 0 5% 0 0;
          height: $text-xx-small;
          width: auto;
        }
      }
      &--infos {
        button {
          padding: 1vw 2vw;
        }
      }
    }
  }
}
</style>
