<template>
  <div class="podmembers">
    <div
      v-for="user in podUsers"
      :key="user"
      class="podmembers__main"
      @click="(podUser = true), (currentUser = user)"
    >
      <p>
        <strong>{{ user.firstName }} {{ user.lastName }}</strong>
      </p>
      <p class="job">{{ user.activitySector.name }}</p>
    </div>
    <div class="podmembers__user" v-if="podUser">
      <div>
        <img
          :src="currentUser.profilePicture"
          alt="The Poding Machine by Social IT"
        />
        <span>
          <p>
            <strong
              >{{ currentUser.firstName }} {{ currentUser.lastName }}
            </strong>
            <em v-if="currentUser.id == pod.userAdmin.id">(Admin) </em>
            <a v-bind:href="currentUser.profileURL" target="_blank">(in) </a>
          </p>
          <p>{{ currentUser.activitySector.name }}</p>
        </span>
        <span>
          <p>
            <strong>{{ $t("pod.contributions") }}</strong
            >86
          </p>
          <p>
            <strong>{{ $t("pod.publications") }}</strong
            >19
          </p>
          <p>
            <strong>{{ $t("pod.comments") }}</strong> 64
          </p>
        </span>
        <button
          v-if="!podAdmin || (podAdmin && currentUser.id == pod.userAdmin.id)"
          @click="podUser = false"
        >
          {{ $t("main.return") }}
        </button>
        <section
          class="buttons"
          v-if="podAdmin && currentUser.id != pod.userAdmin.id"
        >
          <button @click="podUser = false">{{ $t("main.return") }}</button>
          <button @click="modale = !modale">{{ $t("pod.eject") }}</button>
        </section>
      </div>
    </div>
    <div v-if="modale" class="podmembers__modale">
      <div>
        <p>
          {{ $t("pod.modal-1") }} <b>{{ currentUser.firstName }}</b>
          {{ $t("pod.modal-2") }}
        </p>
        <section>
          <button @click="modale = !modale">{{ $t("main.cancel") }}</button>
          <button @click="ejectUser()">{{ $t("main.confirm") }}</button>
        </section>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { mapActions } from "vuex";

export default {
  name: "PodActivity",
  props: ["podUsers", "pod", "podAdmin"],
  data() {
    return {
      podUser: false,
      currentUser: [],
      modale: false
    };
  },
  methods: {
    ...mapActions(["fetchPodUsers", "ejectPodUser"]),
    async ejectUser() {
      const id = this.pod.id;
      const userUuid = this.currentUser.id;
      await this.ejectPodUser({ id, userUuid });
      location.reload();
    }
  }
};
</script>

<style lang="scss" scoped>
.podmembers {
  @extend .pod-content;

  &__main {
    @extend .pod-content__main;

    p.job {
      color: #2c7c4d;
    }
  }

  &__user {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(210, 210, 210, 0.65);

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 650px;
      height: 350px;
      margin: -10vh 0 0 13vw;
      padding: 2% 0;
      border-radius: 20px;
      background-color: #fff;
      box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);

      img {
        display: block;
        margin: 0;
        width: 15%;
        border-radius: 50%;
      }

      span {
        margin: 0;
      }
      span:nth-child(3) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        margin: 0 0 5% 0;
      }

      p {
        font-size: $text-x-small;
        color: $color--content;
      }

      strong {
        font-size: $text-small;
      }

      a {
        text-decoration: none;
        color: $color--secondary;
      }

      em {
        font-style: normal;
        color: $color--primary;
      }

      section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 80%;
      }

      button {
        font-size: $text-x-small;
        padding: 10px 15px;
        border-radius: 10px;
        &:nth-child(1) {
          @extend .secondary-button;
        }
      }
    }
  }

  &__modale {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.65);
    z-index: 10;

    div {
      padding: 2%;
      border-radius: 15px;
      background-color: #fff;
      box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
    }

    section {
      margin: 4vh 0 0 0;
    }

    button {
      font-size: $text-x-small;
      padding: 10px 15px;
      margin: 0 5%;
      border-radius: 20px;
      &:nth-child(2) {
        @extend .secondary-button;
      }
    }
  }
}

@media (max-width: 1024px) {
  .podmembers {
    .pod__user {
      div {
        width: 65vw;
        height: 50vw;
        margin: 0;

        button {
          padding: 1.25vw 2.5vw;
          font-size: $text-xx-small;
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .podmembers {
    height: auto;
    margin: 0 0 5vh 0;
    &__main {
      p {
        font-size: 15px;
        margin: 0;
      }
      p.job {
        margin: 2vh 0 0 0;
      }
    }
    .pod__user {
      div {
        width: 70vw;
        height: 110vw;
        padding: 3% 5%;

        img {
          width: 25%;
        }

        span {
          height: 30%;
          margin: 0;
        }

        p {
          font-size: $text-xx-small;
          color: #fff;
        }

        strong {
          font-size: $text-x-small;
        }

        button {
          margin: 0;
          border-radius: 5px;
        }
      }
    }
  }
}
</style>
