<template>
  <div class="pod__params">
    <div class="pod__params--main">
      <h3>{{ $t("pod-creation.params") }}</h3>
      <div>
        <label for="Auto-Accept">{{ $t("pod-creation.params-accept") }}</label>
        <input
          type="checkbox"
          name="Auto"
          value="isAutoAccepting"
          v-model="pod.autoAddition"
        />
      </div>
      <div>
        <label for="New-Users">{{ $t("pod-creation.params-newusers") }}</label>
        <input
          type="checkbox"
          name="NewUsers"
          value="isNewUsersAgree"
          v-model="pod.newusers"
        />
      </div>
      <p>{{ $t("pod-creation.params-user") }}</p>
      <div>
        <label for="Likes">{{ $t("pod-creation.params-like") }}</label>
        <input type="checkbox" name="Like" value="Like" v-model="pod.like" />
      </div>
      <div>
        <label for="Auto-Comment">{{
          $t("pod-creation.params-autocomment")
        }}</label>
        <input
          type="checkbox"
          name="AutoComment"
          value="autoComment"
          v-model="pod.autoBoost"
        />
      </div>
    </div>
    <div class="pod__params--buttons">
      <button @click="modale = true">{{ $t("pod.supp") }}</button>
      <button @click="modifPod()">{{ $t("main.save") }}</button>
    </div>
    <div v-if="modale" class="pod__params--modale">
      <div>
        <p>
          {{ $t("pod.modal-3") }}<b>{{ pod.name }}</b
          >{{ $t("pod.modal-4") }}
        </p>
        <section>
          <button @click="modale = !modale">{{ $t("main.cancel") }}</button>
          <button @click="delPod()">{{ $t("main.confirm") }}</button>
        </section>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { mapActions } from "vuex";

export default {
  name: "PodAmin",
  props: ["pod"],
  data() {
    return {
      newusers: false,
      like: true,
      autocomment: true,
      modale: false
    };
  },
  methods: {
    ...mapActions(["modifUserPod", "delUserPod"]),
    async modifPod() {
      const id = this.pod.id;
      const theme = this.pod.theme;
      const name = this.pod.name;
      const description = this.pod.description;
      const location = this.pod.location;
      const autoAddition = this.pod.autoAddition;
      const autoBoost = this.pod.autoBoost;
      const activitySector = "2";
      const userAdmin = localStorage.getItem("userId");
      await this.modifUserPod({
        id,
        theme,
        name,
        description,
        location,
        autoAddition,
        autoBoost,
        activitySector,
        userAdmin
      });
      location.reload();
    },
    async delPod() {
      const id = this.pod.id;
      await this.delUserPod(id);
      this.$router.push({ name: "Pods" });
    }
  }
};
</script>

<style lang="scss" scoped>
.pod__params {
  @extend .main-div;
  height: 45vh;
  margin-bottom: 5vh;

  &--modale {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(210, 210, 210, 0.65);
    z-index: 10;

    div {
      padding: 2%;
      border-radius: 15px;
      background-color: #fff;
      box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
    }

    section {
      margin: 4vh 0 0 0;
    }

    button {
      font-size: $text-x-small;
      padding: 10px 15px;
      margin: 0 5%;
      border-radius: 20px;
      &:nth-child(2) {
        @extend .secondary-button;
      }
    }
  }
}

.pod__params--main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 75%;
  text-align: left;
  font-size: $text-x-small;

  h2 {
    margin: 0;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  p {
    margin: 5vh 0 0 0;
    font-weight: bold;
    font-size: $text-small;
  }

  input[type="checkbox"] {
    width: $text-x-small;
    height: $text-x-small;
    border-radius: 50%;
    border: 2px solid $color--secondary;
    -webkit-appearance: none;
    outline: none;
    transition: 0.2s;
    cursor: pointer;
    &:checked {
      background-color: $color--secondary;
    }
  }
}

.pod__params--buttons {
  display: flex;
  justify-content: space-between;
  a {
    @extend .button;
  }
}

@media (max-width: 1024px) {
  .pod__params {
    height: 60vh;
    margin-bottom: 5vh;
  }
}

@media (max-width: 420px) {
  .pod__params {
    width: 84%;
    height: 70vh;
    padding: 5% 8%;

    &--main {
      height: 80%;
      h2 {
        font-size: $text-medium;
      }
      label {
        font-size: 15px;
        width: 85%;
      }
      p {
        font-size: $text-xx-small;
      }
    }
  }
}
</style>
