<template>
  <div class="pods__content">
    <div
      class="pods__content__pod"
      v-for="pod in userPods"
      :pod="{ pod }"
      :key="pod.id"
    >
      <router-link :to="{ name: 'Pod', params: { id: pod.id } }">
        <PodCard :pod="pod" />
      </router-link>
    </div>
    <div v-if="userPods.length == 0" class="empty">
      <h3></h3>
      <p>
        {{ $t("pods.empty-1") }}
        {{ $t("pods.empty-2") }}
        <b>{{ $t("pods.empty-3") }}</b>
        ☝
      </p>
      <p>
        {{ $t("pods.empty-4") }} <b>{{ $t("pods.empty-5") }}</b> ☝
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import { mapActions } from "vuex";
import PodCard from "@/components/PodCard.vue";

export default {
  name: "PodsList",
  components: {
    PodCard
  },
  computed: {
    userPods: {
      get() {
        return this.$store.getters.getUserPods;
      }
    }
  },
  methods: {
    ...mapActions(["fetchUserPods"])
  },
  async mounted() {
    const userid = localStorage.getItem("userId");
    await this.fetchUserPods(userid);
  }
};
</script>

<style lang="scss" scoped>
.pods__content__pod {
  @extend .main-card;
}

.empty {
  margin: 25vh 0 0 0;
  b {
    color: $color--primary;
  }
}
</style>
