<template>
  <div class="posts--list">
    <div
      class="posts--list__post"
      v-for="(post, index) in userPosts"
      :post="{ post }"
      :key="index"
    >
      <router-link :to="{ name: 'Post', params: { id: index + 1 } }">
        <PostCard :post="post" @toggle-modal="toggleModal" />
      </router-link>
    </div>
    <div v-if="userPosts.length == 0" class="empty">
      <h3>{{ $t("posts.empty-1") }}</h3>
      <p>
        {{ $t("posts.empty-2") }}
        <b>{{ $t("posts.empty-3") }}</b>
        ☝
      </p>
    </div>
    <div v-if="modale" class="post__modale">
      <div>
        <p>{{ $t("post.modal") }}</p>
        <section>
          <button @click="modale = !modale">{{ $t("main.cancel") }}</button>
          <button @click="delPost()">{{ $t("main.confirm") }}</button>
        </section>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { mapActions } from "vuex";
import PostCard from "@/components/PostCard.vue";

export default {
  name: "PostsList",
  components: {
    PostCard
  },
  data() {
    return {
      modale: false,
      post: []
    };
  },
  computed: {
    currentUser: {
      get() {
        return this.$store.getters.getUserInfos;
      }
    },
    userPosts: {
      get() {
        return this.$store.getters.getUserPosts;
      }
    }
  },
  methods: {
    ...mapActions([
      "fetchCurrentUser",
      "fetchUserPosts",
      "delUserPost",
      "creditUserPost"
    ]),
    toggleModal(post: never) {
      this.post = post;
      this.modale = !this.modale;
    },
    async delPost() {
      const postId = this.post.id;
      await this.delUserPost({ postId });
      const userUuid = localStorage.getItem("userId");
      await this.fetchCurrentUser();
      const sub = this.currentUser.subscription.id;
      if (!this.post.isPublish) {
        if (sub != 4 && sub != 7) {
          await this.creditUserPost({ userUuid });
        }
      }
      location.reload();
    }
  },
  async mounted() {
    const userId = localStorage.getItem("userId");
    await this.fetchUserPosts(userId);

    if (!this.currentUser) {
      localStorage.removeItem("userId");
      location.reload();
    }
  }
};
</script>

<style lang="scss" scoped>
.posts--list__post {
  @extend .main-card;
}

.empty {
  margin: 25vh 0 0 0;
  b {
    color: $color--primary;
  }
}

.post__modale {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(210, 210, 210, 0.65);
  z-index: 10;

  div {
    padding: 2%;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
  }

  section {
    margin: 4vh 0 0 0;
  }

  button {
    font-size: $text-x-small;
    padding: 10px 15px;
    margin: 0 5%;
    border-radius: 20px;
    &:nth-child(2) {
      @extend .secondary-button;
    }
  }
}
</style>
