<template>
  <div class="post-modifier">
    <div class="post-modifier__content">
      <textarea
        name="content"
        id="content"
        v-model="content"
        :placeholder="$t('publish.placeholder-content')"
      ></textarea>
    </div>

    <div class="post-modifier__details">
      <div class="post-modifier__details_left">
        <p>{{ $t("post-config.pods-list") }}</p>
        <div>
          <div class="checkbox" v-for="pod in userPods" :key="pod">
            <input
              type="checkbox"
              :value="pod.name"
              :id="'pod-' + pod.id"
              name="check"
              :checked="pod.id == post.pod.id"
              @click="checkPods(pod.id)"
            />
            <label :for="'pod-' + pod.id">{{ pod.name }}</label>
          </div>
        </div>
      </div>
      <div class="post-modifier__details_right">
        <p>{{ commentsLists.length }} {{ $t("post-config.lists") }}</p>
        <div class="comments">
          <div class="checkbox" v-for="list in commentsLists" :key="list">
            <input
              type="checkbox"
              :value="list.title"
              :id="'liste-' + list.id"
              name="check"
              :checked="postLists.includes(String(list.id))"
              @click="checkLists(list.id)"
            />
            <label :for="'liste-' + list.id">{{ list.title }}</label>
            <p>&#x24D8;</p>
          </div>
        </div>
      </div>
    </div>
    <em v-if="errormsg">{{ errormsg }}</em>
    <div class="post-modifier__publish">
      <button @click="errormsg = ''">
        {{ $t("publish.date") }} :
        <input type="date" v-model="postday" :min="actualDate" />
      </button>
      <button @click="errormsg = ''">
        Heure :
        <select v-model="posthour">
          <option v-for="hour in hours" :key="hour" :value="hour">{{
            hour
          }}</option>
        </select>
      </button>
      <button @click="errormsg = ''">
        Minute(s) :
        <select v-model="postminutes">
          <option v-for="minute in minutes" :key="minute" :value="minute">{{
            minute
          }}</option>
        </select>
      </button>
      <button
        class="validate"
        @click="modifPost()"
        :disabled="
          !post.TimeToPublish ||
            !post.text ||
            pods.length == 0 ||
            lists.length == 0
        "
      >
        {{ $t("publish.validate") }}
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import moment from "moment";
import { mapActions } from "vuex";

import Vue from "vue";
export default Vue.extend({
  name: "PostModifier",
  props: ["post"],
  data() {
    return {
      content: "",
      postday: "",
      posthour: "",
      postminutes: "",
      // eslint-disable-next-line prettier/prettier
      hours: ["00","01","02","03","04","05","06","07","08","09","10","11","12","13","14","15","16","17","18","19","20","21","22","23"],
      minutes: [""],
      postdate: "",
      pods: [""],
      lists: [""],
      postLists: [""],
      errormsg: "",
      actualDate: ""
    };
  },
  computed: {
    userPods: {
      get: function(): unknown {
        return this.$store.getters.getUserPods;
      }
    },
    commentsLists: {
      get: function(): unknown {
        return this.$store.getters.getUserLists;
      }
    }
  },
  methods: {
    ...mapActions(["modifUserPost", "fetchUserPods", "fetchCommentsLists"]),
    checkLists(id: string) {
      if (this.lists.includes(String(id))) {
        const listToRemove = this.lists.indexOf(String(id));
        this.lists.splice(listToRemove, 1);
      } else {
        this.lists.push(String(id));
      }
    },
    checkPods(id: string) {
      if (this.pods.includes(String(id))) {
        const podToRemove = this.pods.indexOf(String(id));
        this.pods.splice(podToRemove, 1);
      } else {
        this.pods.push(String(id));
      }
    },
    async modifPost() {
      this.postdate =
        this.postday + " " + this.posthour + ":" + this.postminutes + ":00";
      const diff = moment().diff(this.postdate, "minutes");
      if (diff > -1) {
        this.errormsg =
          "Veuillez choisir une date de publication supérieure à 2 minutes par rapport à l'heure actuelle !";
      } else {
        const id = this.post.id;
        const text = this.content;
        const isBoosted = true;
        const isDeleted = false;
        const podId = this.pods[0];
        const listsID = this.lists;
        const timeToPublish = String(
          moment(this.postdate).format("YYYY-MM-DD hh:mm:00.000000 a")
        );
        await this.modifUserPost({
          id,
          text,
          isBoosted,
          isDeleted,
          podId,
          listsID,
          timeToPublish
        });
        location.reload();
      }
    }
  },
  async mounted() {
    const userid = localStorage.getItem("userId");
    await this.fetchUserPods(userid);
    await this.fetchCommentsLists(userid);
    this.content = this.post.text;
    this.pods.splice(0);
    this.lists.splice(0);
    this.postLists.splice(0);
    this.pods.push(String(this.post.pod.id));
    for (let index = 0; index < this.post.lists.length; index++) {
      this.postLists.push(String(this.post.lists[index].id));
      this.lists.push(String(this.post.lists[index].id));
    }

    this.actualDate = String(moment().format("YYYY-MM-DD"));
    this.postday = String(moment(this.post.TimeToPublish).format("YYYY-MM-DD"))
    if (String(moment(this.post.TimeToPublish).format("h a")).includes("pm")) {
      this.posthour = String(
        Number(moment(this.post.TimeToPublish).format("h")) + 12
      );
    } else {
      this.posthour = String(moment(this.post.TimeToPublish).format("h"));
    }
    this.postminutes = String(moment(this.post.TimeToPublish).format("m"));

    this.minutes.splice(0);
    for (let index = 0; index < 60; index++) {
      if (index < 10) {
        this.minutes.push(String("0" + index));
      } else {
        this.minutes.push(String(index));
      }
    }
  }
});
</script>

<style lang="scss" scoped>
.post-modifier {
  @extend .main-div;
  height: auto;

  em {
    color: $color--primary;
    margin: -2vh 0 3vh 0;
  }

  &__content {
    & {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 1px solid #2c7c4d;
      border-radius: 9px;
      height: 15vh;
      padding: 2%;
    }

    textarea {
      height: 100%;
      font-size: $text-x-small;
      resize: none;
      border: none;
      outline: none;
      &::placeholder {
        color: #ccccccb0;
      }
    }
  }

  .post-modifier__details {
    @extend .main-div;
    height: 30vh;
    display: flex;
    flex-direction: row;
    margin-bottom: 5vh;
    padding: 1% 3%;
    width: 94%;
    text-align: left;

    input[type="checkbox"] {
      visibility: hidden;
    }

    .checkbox {
      display: flex;
      flex-direction: row;
      align-items: center;
      overflow: hidden;
      width: 22vw;
      height: 4vh;
      direction: ltr;
      margin: 0 0 4% 0;
      border-radius: 10px;
      border: 1px solid #2c7c4d;
      background: #fff;
      position: relative;
      &:last-child {
        margin: 0;
      }
    }

    .checkbox label {
      cursor: pointer;
      position: absolute;
      width: 100%;
      height: 4vh;
      border-radius: 9px;
      left: 0px;
      top: 0px;
      padding: 2.5%;
    }

    .checkbox label:after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
      content: "";
      position: absolute;
      width: 100%;
      height: 4vh;
      background-color: rgba(44, 124, 77, 0.5);
      top: 0px;
      left: 0px;
    }

    .checkbox label:hover::after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
      filter: alpha(opacity=30);
      opacity: 0.3;
    }

    .checkbox input[type="checkbox"]:checked + label:after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity=100);
      opacity: 1;
    }

    &_left {
      width: 45%;

      div {
        direction: rtl;
        height: 22.25vh;
        overflow-y: scroll;
        margin: 0 0 4% 0;
        p {
          margin: 0 0 4% 0;
          width: 20.5vw;
          direction: ltr;
          padding: 2% 3%;
          border-radius: 10px;
          border: 1px solid #2c7c4d;
        }
      }
    }

    &_right {
      width: 45%;

      div.comments {
        overflow-y: scroll;
        height: 22.25vh;
        div {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 0 3%;
          width: 88%;
          border-radius: 0.65vw;
        }
      }
    }

    ::-webkit-scrollbar {
      width: 6px;
    }

    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: rgba(44, 124, 77, 0.7);
    }
    ::-webkit-scrollbar-thumb:window-inactive {
      background: rgba(44, 124, 77, 1);
    }
  }

  &__publish {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      @extend .secondary-button;
      font-size: $text-xx-small;
      &:hover {
        input[type="date"],
        select {
          cursor: pointer;
          color: #fff;
          &::-webkit-calendar-picker-indicator {
            cursor: pointer;
            filter: invert(1);
          }
        }
      }

      input[type="date"],
      select {
        border: none;
        font-size: $text-xx-small;
        color: $color--secondary;
        background-color: transparent;
        transition: 0.4s;
        &::-webkit-calendar-picker-indicator {
          transition: 0.2s;
        }
      }
    }

    select {
      option {
        background-color: #fff;
        color: $color--secondary;
      }
    }

    .validate {
      @extend .button;
      opacity: 1;
      font-size: $text-xx-small;
      display: disabled;
      &:disabled {
        opacity: 0.35;
        &:hover {
          color: #fff;
          background-color: $color--primary;
          cursor: auto;
        }
      }
    }
  }
}
</style>
