<template>
  <div class="publication">
    <form v-if="!validate" @submit.prevent="createPost">
      <div class="publication__type">
        <a
          @click="createWithURL = true"
          :class="{ 'publication__type--active': createWithURL == true }"
        >
          {{ $t("publish.program") }}
        </a>
        <a
          @click="createWithURL = false"
          :class="{ 'publication__type--active': createWithURL == false }"
        >
          {{ $t("publish.url") }}
        </a>
      </div>

      <div v-if="!createWithURL" class="publication__url">
        <div class="publication__url__content">
          <input
            type="text"
            v-model="posturl"
            v-bind:placeholder="$t('publish.placeholder-url')"
          />
          <a
            :class="{
              disabled:
                !currentUser.subscription || currentUser.subscription.id == '1'
            }"
            @click="boost()"
            >{{ $t("publish.boost") }}</a
          >
        </div>
        <p>{{ $t("publish.advice") }}</p>
      </div>

      <div v-if="createWithURL" class="publication__content">
        <textarea
          name="content"
          id="content"
          v-model="postcontent"
          :placeholder="$t('publish.placeholder-content')"
        ></textarea>
      </div>
      <em v-if="errormsg">{{ errormsg }}</em>

      <div class="publication__publish">
        <button @click="errormsg = ''">
          {{ $t("publish.date") }} :
          <input type="date" v-model="postday" :min="actualDate" />
        </button>
        <button @click="errormsg = ''">
          Heure :
          <select v-model="posthour">
            <option v-for="hour in hours" :key="hour" :value="hour">{{
              hour
            }}</option>
          </select>
        </button>
        <button @click="errormsg = ''">
          Minute(s) :
          <select v-model="postminutes">
            <option v-for="minute in minutes" :key="minute" :value="minute">{{
              minute
            }}</option>
          </select>
        </button>
      </div>
    </form>
    <div v-if="!validate">
      <button
        class="validate"
        @click="checkTime()"
        :disabled="
          !currentUser.subscription ||
            currentUser.subscription.id == '1' ||
            !postday ||
            !postcontent
        "
      >
        {{ $t("publish.next") }}
      </button>
      <p v-if="!currentUser.subscription || currentUser.subscription.id == '1'">
        <b class="warning">{{ $t("publish.advice-1") }}</b>
      </p>
      <p v-else>
        <b>{{ $t("publish.remain") }} </b> {{ currentUser.postRemaining }}
      </p>
      <p
        v-if="
          currentUser.postRemaining != 0 && currentUser.subscription.id != '7'
        "
      >
        <b>{{ $t("publish.advice-2") }} </b>{{ renewal }}
      </p>
      <b
        v-if="
          currentUser.subscription &&
            currentUser.subscription.id != '1' &&
            currentUser.postRemaining == 0
        "
        class="warning"
        >{{ $t("publish.advice-3") }} {{ renewal }}</b
      >
    </div>
    <PostConfig
      v-if="validate"
      :currentUser="currentUser"
      :posturl="posturl"
      :postcontent="postcontent"
      :postdate="postdate"
      :validate="validate"
      v-on:update:validate="validate = false"
    />
  </div>
</template>

<script lang="ts">
import PostConfig from "@/components/PostConfig.vue";
import moment from "moment";

export default {
  name: "PostPublication",
  props: ["currentUser"],
  components: {
    PostConfig
  },
  data: function() {
    return {
      createWithURL: true,
      posturl: "",
      postcontent: "",
      postday: "",
      posthour: "00",
      postminutes: "00",
      // eslint-disable-next-line prettier/prettier
      hours: ["00","01","02","03","04","05","06","07","08","09","10","11","12","13","14","15","16","17","18","19","20","21","22","23"],
      minutes: [""],
      postdate: "",
      renewal: "",
      actualDate: "",
      errormsg: "",
      validate: false
    };
  },
  methods: {
    checkTime() {
      this.postdate =
        this.postday + " " + this.posthour + ":" + this.postminutes + ":00";
      const diff = moment().diff(this.postdate, "minutes");
      if (diff > -4) {
        this.errormsg =
          "Veuillez choisir une date de publication supérieure à 5 minutes par rapport à l'heure actuelle !";
      } else {
        this.posturl = "";
        this.validate = !this.validate;
      }
    },
    boost() {
      if (this.posturl) {
        this.postcontent = "";
        this.validate = !this.validate;
      } else {
        this.errormsg =
          "Veuillez entrer l'URL du post linkedIn que vous souhaitez booster !";
      }
    }
  },
  mounted() {
    moment.locale("fr");
    const nextlonth = moment().add(1, "M");
    this.renewal =
      moment(this.currentUser.startSub).format("DD/") +
      moment(nextlonth).format("MM/YYYY");
    this.actualDate = String(moment().format("YYYY-MM-DD"));

    this.minutes.splice(0);
    for (let index = 0; index < 60; index++) {
      if (index < 10) {
        this.minutes.push(String("0" + index));
      } else {
        this.minutes.push(String(index));
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.publication {
  @extend .main-div;
  height: auto;

  b.warning {
    color: $color--primary;
  }

  em {
    color: $color--primary;
    margin: -2vh 0 3vh 0;
  }
}

.publication__type {
  display: flex;
  justify-content: space-between;

  a {
    @extend .button;
    @extend .secondary-button;
    font-size: $text-xx-small;
  }
  &--active {
    background: $color--secondary !important;
    color: #fff !important;
  }
}

.publication__url {
  & {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85%;
  }

  p {
    font-size: $text-x-small;
    color: #104827;
    margin: 2vh 0 10vh 0;
  }
}

.publication__url__content {
  & {
    display: flex;
    width: 100%;
    height: 60px;
    margin: 15vh 0 0 0;
  }

  input {
    width: 70%;
    padding: 0 2%;
    font-size: $text-x-small;
    color: #98c9f5;
    border: 2px solid $color--secondary;
    border-right: none;
    border-radius: 1.4vw 0 0 1.4vw;
    &::placeholder {
      color: #98c9f5;
    }
  }

  a {
    @extend .link-button;
    width: 25%;
    padding: 16px 0 0 0;
    font-size: $text-medium;
    font-weight: bold;
    border-radius: 0 1.4vw 1.4vw 0;
    &.disabled {
      opacity: 0.35;
      &:hover {
        color: #fff;
        background-color: $color--primary;
        cursor: auto;
      }
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 0 0 4vh 0;
}

.publication__content {
  & {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #2c7c4d;
    border-radius: 9px;
    height: 25vh;
    margin: 5vh 0;
    padding: 2%;
  }

  textarea {
    height: 100%;
    font-size: $text-x-small;
    resize: none;
    border: none;
    outline: none;
    &::placeholder {
      color: #ccccccb0;
    }
  }
}

.publication__publish {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    @extend .secondary-button;
    font-size: $text-xx-small;
    margin: 0 0 3vh 0;
    &:hover {
      input[type="date"],
      select {
        cursor: pointer;
        color: #fff;
        &::-webkit-calendar-picker-indicator {
          cursor: pointer;
          filter: invert(1);
        }
      }
    }

    input[type="date"],
    select {
      border: none;
      font-size: $text-xx-small;
      color: $color--secondary;
      background-color: transparent;
      transition: 0.4s;
      &::-webkit-calendar-picker-indicator {
        transition: 0.2s;
        margin: 0 0 0 -25px;
      }
    }

    select {
      option {
        background-color: #fff;
        color: $color--secondary;
      }
    }
  }
}

.validate {
  @extend .button;
  opacity: 1;
  font-size: $text-xx-small;
  display: disabled;
  &:disabled {
    opacity: 0.35;
    &:hover {
      color: #fff;
      background-color: $color--primary;
      cursor: auto;
    }
  }
}

@media (max-width: 820px) {
  .publication__url__content {
    & {
      flex-direction: column;
      align-items: center;
      height: 15vh;
    }

    input {
      width: 100%;
      height: 25%;
      border: 2px solid $color--secondary;
      border-right: display;
      border-radius: 1.4vw;
    }

    a {
      @extend .link-button;
      width: 25%;
      margin: 2vh 0;
      padding: 10px 0;
      font-size: $text-medium;
      font-weight: bold;
      border-radius: 1.4vw;
    }
  }
}

@media (max-width: 420px) {
  .publication {
    padding: 5%;
    height: auto;

    &__type {
      flex-direction: column;
      a {
        margin: 0 0 1vh 0;
      }
    }

    &__url {
      p {
        font-size: $text-xx-small;
      }

      &__content {
        & {
          margin: 5vh 0 0 0;
          height: 15vh;
        }

        input {
          width: 95%;
          font-size: 14px;
          border: 1px solid $color--secondary;
        }

        a {
          width: auto;
          padding: 5px 15px;
          font-size: $text-xx-small;
        }
      }
    }

    &__content {
      & {
        margin: 2vh 0 3vh 0;
      }
      textarea {
        height: 25vh;
        font-size: $text-xx-small;
      }

      &__extras {
        .inserts {
          #insert__image {
            width: 10px;
            &::before {
              font-size: $text-medium;
            }
          }
          #insert__smiley {
            width: 40px;
            &::before {
              font-size: $text-medium;
            }
          }
        }
      }
    }

    &__publish {
      flex-direction: column;
      button {
        width: 100%;
      }
      a {
        width: 100%;
        margin: 1vh 0 0 0;
      }
    }
  }
}
</style>
