<template>
  <div class="postcard">
    <div class="postcard__content">
      <div class="postcard__content_left">
        <p v-if="post.text">{{ post.text }}</p>
        <p v-else>
          <i>{{ $t("post.url-post") }}</i>
        </p>
        <div class="postcard__content_stats">
          <img src="../assets/icons/views.webp" alt="" />
          <p>{{ post.n_views }}</p>
          <img src="../assets/icons/likes.webp" alt="" />
          <p>{{ post.n_likes }}</p>
          <img src="../assets/icons/comments.webp" alt="" />
          <p>{{ post.n_comments }}</p>
          <img src="../assets/icons/shares.webp" alt="" />
          <p>{{ post.n_shares }}</p>
          <p class="percents">{{ contributions }}</p>
          <img src="../assets/icons/percents.webp" alt="" />
        </div>
      </div>
      <div class="postcard__content_right">
        <small
          :class="{
            waiting: status === 'En attente de publication...',
            unpublished: status === 'Non publié',
            published: status === 'Publié',
            delete: status === 'En cours de suppression...'
          }"
          >{{ status }}</small
        >
        <div @click.prevent="emitModalEvent(post)"></div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import moment from "moment";

export default {
  name: "PostCard",
  props: ["post"],
  data() {
    return {
      status: "",
      contributions: 0
    };
  },
  methods: {
    emitModalEvent(post: unknown) {
      this.$emit("toggle-modal", post);
    }
  },
  mounted() {
    if (this.post.toDelete) {
      this.status = "En cours de suppression...";
    } else {
      if (this.post.isPublish) {
        this.status = "Publié";
      } else {
        if (moment().isAfter(this.post.TimeToPublish)) {
          this.status = "Non publié";
        } else {
          this.status = "En attente de publication...";
        }
      }
    }

    // let postUsers = 0;
    // for (let pod = 0; pod < this.post.pod.length; pod++) {
    //   for (let user = 0; user < this.post.pod[pod].users.length; user++) {
    //     postUsers = postUsers + 1;
    //   }
    // }
    this.contributions = Math.round(
      (Number(this.post.n_comments) / (this.post.pod.users.length - 1)) * 100
      // (Number(this.post.n_comments) / (postUsers - 1)) * 100
    );
  }
};
</script>

<style lang="scss" scoped>
.postcard__content {
  & {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    padding: 2%;
    border-radius: 15px;
  }

  &_left {
    flex: 70%;
    p {
      margin: 0;
      font-size: $text-x-small;
      color: $color--content;
    }
  }

  &_stats {
    display: flex;
    align-items: center;
    margin: 4vh 0 0 0;

    p {
      margin: 0 3vw 0 0.25vw;
      font-size: $text-xx-small;
      font-weight: bold;
      &.percents {
        margin: 0 0.15vw 0 0;
      }
    }
    img {
      margin: 0;
      height: 1vw;
      width: auto;
    }
  }

  &_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    flex: 30%;

    small {
      font-size: $text-xx-small;
      font-style: italic;
      &.waiting {
        color: $color--content;
      }
      &.unpublished {
        color: $color--linkedin;
      }
      &.published {
        color: #00c050;
      }
      &.delete {
        color: $color--primary;
      }
    }

    div {
      position: relative;
      width: 1.5vw;
      height: 1.5vw;
      opacity: 0.6;
      transition: 0.4s;
      &:hover {
        opacity: 1;
        transform: scale(1.1);
      }
      &:before,
      &:after {
        position: absolute;
        left: 15px;
        bottom: 0%;
        content: " ";
        height: 22px;
        width: 3px;
        border-radius: 1em;
        background-color: $color--primary;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}

@media (max-width: 1024px) {
  .postcard__content {
    &_stats {
      p {
        margin: 0 3vw 0 0.5vw;
        font-size: $text-xx-small;
        font-weight: bold;
        &.percents {
          margin: 0 0.15vw 0 0;
        }
      }
      img {
        margin: 0;
        height: 15px;
        width: auto;
      }
    }

    &_right {
      div {
        position: relative;
        width: 1.5vw;
        height: 1.5vw;
        &:before,
        &:after {
          left: 0%;
          bottom: 0%;
          width: 2px;
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .postcard__content {
    & {
      flex-direction: column;
      padding: 3%;
    }
    &_left {
      p {
        font-size: $text-xx-small;
      }
    }

    &_stats {
      margin: 3vh 0 0 0;
      p {
        font-size: 14px;
        font-weight: normal;
      }
      img {
        height: 3vw;
      }
    }

    &_right {
      flex-direction: row;
      margin: 2vh 0 0 0;
      small {
        font-size: 12px;
      }
      div {
        &:before,
        &:after {
          left: -2px;
          height: 15px;
        }
      }
    }
  }
}
</style>
