<template>
  <div class="post-config">
    <div class="post-config__main">
      <h3 v-if="postdate">
        {{ $t("post-config.publication-date-1")
        }}{{ moment(postdate).format("L")
        }}{{ $t("post-config.publication-date-2")
        }}{{ moment(postdate).format("LTS") }}
      </h3>
      <div class="post-config__main_header">
        <div class="options">
          <button @click="$emit('update:validate', false)">
            {{ $t("post-config.content") }}
          </button>
        </div>
        <div class="post-config-supp" @click="cancel()"></div>
      </div>
      <div class="post-config__main_content">
        {{ postcontent }}
        <a v-bind:href="posturl" target="_blank">{{ posturl }}</a>
      </div>
    </div>
    <h2>
      {{ $t("post-config.commitments") }}
      <button
        class="develop"
        @click="details = !details"
        :class="{ active: details == true }"
      >
        &#8423;
      </button>
    </h2>
    <div v-if="details" class="post-config__details">
      <div class="post-config__details_left">
        <p>{{ $t("post-config.pods-list") }}</p>
        <div>
          <div class="checkbox" v-for="pod in userPods" :key="pod">
            <input
              type="checkbox"
              :value="pod.name"
              :id="'pod-' + pod.id"
              name="check"
              @click="checkPods(pod.id)"
            />
            <label :for="'pod-' + pod.id">{{ pod.name }}</label>
          </div>
        </div>
      </div>
      <div class="post-config__details_right">
        <p>
          {{ $t("post-config.promo-1") }} <b>{{ $t("post-config.promo-2") }}</b>
        </p>
        <textarea
          name="promoteComment"
          id="promoteComment"
          v-model="promoteComment"
          placeholder="Rédiger le commentaire..."
        ></textarea>
        <p>{{ commentsLists.length }} {{ $t("post-config.lists") }}</p>
        <div class="comments">
          <div class="checkbox" v-for="list in commentsLists" :key="list">
            <input
              type="checkbox"
              :value="list.title"
              :id="'liste-' + list.id"
              name="check"
              @click="checkLists(list.id)"
            />
            <label :for="'liste-' + list.id">{{ list.title }}</label>
            <p>&#x24D8;</p>
          </div>
        </div>
      </div>
    </div>
    <div class="validate">
      <em v-if="errormsg">{{ errormsg }}</em>
      <button
        v-if="postdate"
        @click="createPost()"
        :disabled="pods.length == 0 || lists.length == 0"
      >
        {{ $t("post-config.validate") }}
      </button>
      <button
        v-if="!postdate"
        @click="createPostWithURL()"
        :disabled="pods.length == 0 || lists.length == 0"
      >
        {{ $t("post-config.validate") }}
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { mapActions } from "vuex";
import moment from "moment";

export default {
  name: "Post-config",
  props: [
    "currentUser",
    "posturl",
    "postcontent",
    "postdate",
    "formData",
    "validate"
  ],
  data: function() {
    return {
      details: true,
      pods: [""],
      lists: [""],
      promoteComment: "",
      errormsg: " "
    };
  },
  computed: {
    userPods: {
      get: function(): unknown {
        return this.$store.getters.getUserPods;
      }
    },
    commentsLists: {
      get: function(): unknown {
        return this.$store.getters.getUserLists;
      }
    }
  },
  methods: {
    ...mapActions([
      "addUserPost",
      "addUserPostWithURL",
      "debitUserPost",
      "fetchUserPods",
      "fetchCommentsLists"
    ]),
    cancel() {
      location.reload();
    },
    checkLists(id: string) {
      if (this.lists.includes(String(id))) {
        const listToRemove = this.lists.indexOf(String(id));
        this.lists.splice(listToRemove, 1);
      } else {
        this.lists.push(String(id));
      }
    },
    checkPods(id: string) {
      if (this.pods.includes(String(id))) {
        const podToRemove = this.pods.indexOf(String(id));
        this.pods.splice(podToRemove, 1);
      } else {
        this.pods.push(String(id));
      }
    },
    async createPost() {
      const diff = moment().diff(this.postdate, "minutes");
      if (diff > -4) {
        this.errormsg =
          "Veuillez choisir une date de publication supérieure à 5 minutes par rapport à l'heure actuelle !";
      } else {
        const text = String(this.postcontent);
        const attachment = "0";
        const timeToPublish = String(
          moment(this.postdate).format("YYYY-MM-DD hh:mm:00.000000 a")
        );
        const podId = this.pods[0];
        const listsID = this.lists;
        const promoteComment = this.promoteComment;
        const userUuid = this.currentUser.id;
        const sub = this.currentUser.subscription.id;
        console.log(this.postdate);
        console.log(timeToPublish);
        await this.addUserPost({
          text,
          attachment,
          timeToPublish,
          podId,
          listsID,
          promoteComment,
          userUuid
        });
        if (sub != 4 && sub != 7) {
          await this.debitUserPost({ userUuid });
        }
        location.reload();
      }
    },
    async createPostWithURL() {
      const postURL = this.posturl;
      const regex = /activity*.[0-9]+/i;
      const urn = postURL.match(regex);
      const reg = /activity*./i;
      const toDelete = postURL.match(reg);
      const postURN = String(urn).replace(toDelete, "");
      if (postURN.match(/[0-9]+/i)) {
        const podID = this.pods[0];
        const lists = this.lists;
        const promoteComment = this.promoteComment;
        const userID = this.currentUser.id;
        const sub = this.currentUser.subscription.id;
        await this.addUserPostWithURL({
          postURN,
          postURL,
          podID,
          lists,
          promoteComment,
          userID
        });
        if (sub != 4 && sub != 7) {
          await this.debitUserPost({ userID });
        }
        location.reload();
      } else {
        this.errormsg = "Veuillez un URL valide !";
      }
    }
  },
  async mounted() {
    moment.locale();
    const userid = this.currentUser.id;
    await this.fetchUserPods(userid);
    await this.fetchCommentsLists(userid);
    this.pods.splice(0);
    this.lists.splice(0);
  }
};
</script>

<style lang="scss" scoped>
.post-config {
  .post-config__header {
    @extend .main-header;
  }

  .post-config__main {
    @extend .main-div;
    background-color: transparent;
    box-shadow: none;
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    text-align: left;

    .post-config-supp {
      position: relative;
      width: 2vw;
      height: 1.5vw;
      opacity: 0.6;
      transition: 0.4s;
      padding-top: 3px;
      &:hover {
        opacity: 1;
        transform: scale(1.1);
        cursor: pointer;
      }
      &:before,
      &:after {
        position: absolute;
        left: 50%;
        content: " ";
        height: 2vw;
        width: 3px;
        border-radius: 1em;
        background-color: $color--primary;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }

    &_header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .options {
        button {
          @extend .secondary-button;
          font-size: $text-xx-small;
          background-color: $color--secondary;
          color: #fff;
          &:hover {
            background-color: transparent;
            color: $color--secondary;
          }
        }
      }
    }

    &_content {
      margin: 2% 0;
      padding: 2%;
      text-align: left;
      line-height: 25px;
      border-radius: 15px;
      border: 1px solid #2c7c4d;
    }
  }

  .post-config__details {
    @extend .main-div;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 5vh;
    padding: 1% 3%;
    width: 94%;
    text-align: left;

    input[type="checkbox"] {
      visibility: hidden;
    }

    .checkbox {
      display: flex;
      flex-direction: row;
      align-items: center;
      overflow: hidden;
      width: 22vw;
      height: 4vh;
      direction: ltr;
      margin: 0 0 4% 0;
      border-radius: 10px;
      border: 1px solid #2c7c4d;
      background: #fff;
      position: relative;
      &:last-child {
        margin: 0;
      }
    }

    .checkbox label {
      cursor: pointer;
      position: absolute;
      width: 100%;
      height: 4vh;
      border-radius: 9px;
      left: 0px;
      top: 0px;
      padding: 2.5%;
    }

    .checkbox label:after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
      content: "";
      position: absolute;
      width: 100%;
      height: 4vh;
      background-color: rgba(44, 124, 77, 0.5);
      top: 0px;
      left: 0px;
    }

    .checkbox label:hover::after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
      filter: alpha(opacity=30);
      opacity: 0.3;
    }

    .checkbox input[type="checkbox"]:checked + label:after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity=100);
      opacity: 1;
    }

    &_left {
      width: 45%;

      div {
        direction: rtl;
        height: 37.25vh;
        overflow-y: scroll;
        margin: 0 0 4% 0;
        p {
          margin: 0 0 4% 0;
          width: 20.5vw;
          direction: ltr;
          border-radius: 10px;
          border: 1px solid #2c7c4d;
        }
      }
    }

    &_right {
      width: 45%;

      textarea {
        width: 87%;
        height: 8vh;
        padding: 2% 3%;
        font-size: $text-x-small;
        resize: none;
        outline: none;
        border: 1px solid #2c7c4d;
        border-radius: 10px;
        &::placeholder {
          color: #cccccccc;
        }
      }

      div.comments {
        overflow-y: scroll;
        height: 21.75vh;
        div {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 0 3%;
          width: 88%;
          border-radius: 0.65vw;
        }
      }
    }

    ::-webkit-scrollbar {
      width: 6px;
    }

    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: rgba(44, 124, 77, 0.7);
    }
    ::-webkit-scrollbar-thumb:window-inactive {
      background: rgba(44, 124, 77, 1);
    }
  }

  h2 {
    text-align: left;
    margin: 25px 0 -25px 0;
  }

  button.develop {
    padding: 2px 13px 0 10px;
    border-radius: 10em;
    color: $color--primary;
    border: 1px solid $color--primary;
    background-color: transparent;
    font-size: $text-xx-small;
    transform: rotate(-45deg);
    &.active {
      transform: rotate(495deg);
    }
  }

  .validate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    em {
      color: $color--primary;
    }
    button:disabled {
      opacity: 0.35;
      &:hover {
        color: #fff;
        background-color: $color--primary;
        cursor: auto;
      }
    }
  }
}

@media (max-width: 1024px) {
  .post-config {
    button.develop {
      &.active {
        transform: rotate(495deg) !important;
      }
    }

    .post-config__details {
      flex-direction: column;
      text-align: center;
      margin-bottom: 3vh;

      .checkbox {
        width: 96%;
      }

      &_left {
        width: 100%;

        div {
          p {
            width: 25.5vw;
          }
        }
      }

      &_right {
        width: 100%;
        margin: 5vh 0 0 0;

        textarea {
          font-size: $text-small;
        }

        div.comments {
          margin: 5vh 0 4% 0;
          text-align: left;
          div {
            width: 90%;
            border-radius: 1.2vw;
          }
        }
      }
    }
  }

  .validate {
    text-align: center !important;
    margin: 0 0 5vh 0;
  }
}

@media (max-width: 420px) {
  .post-config {
    .post-config__main {
      .post-config-supp {
        width: 6.5vw;
        height: 8vw;
        padding: 0px 0 0 0;
        &:before,
        &:after {
          height: 7vw;
        }
      }

      &_header {
        margin: -1vh 0 2vh 0;
      }

      &_content {
        padding: 5%;
        border-radius: 10px;
      }
    }

    h2 {
      text-align: center;
      margin: 50px 0 -25px 0;
      font-size: $text-normal;
    }

    button.develop {
      display: none;
    }

    .post-config__details {
      margin-bottom: 3vh;
      padding: 1% 3%;

      &_right {
        textarea {
          width: 85%;
          height: 10vh;
          padding: 2% 5%;
          border-radius: 5px;
          font-size: $text-xx-small;
        }
      }
    }
  }
}
</style>
