<template>
  <div id="app">
    <Nav />
    <router-view />
  </div>
</template>

<script lang="ts">
import Nav from "./components/partials/Nav.vue";

export default {
  name: "app",
  components: {
    Nav
  },
  data() {
    return {
      success: true
    };
  }
};
</script>

<style lang="scss">
@font-face {
  font-family: "Adam";
  src: local("Merienda"),
    url(./assets/fonts/adam/Adam-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: local("Merienda"),
    url(./assets/fonts/roboto/Roboto-Regular.ttf) format("truetype");
}

#app {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color--content;
  text-align: center;
}

body,
html {
  background-color: #f7f7fe;
  overflow-x: hidden;
  margin: 0;
}

input {
  font-family: "Roboto", sans-serif;
  outline: none;
}
</style>
